{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .node {
        display: inline-block;
      }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/print.min.css' %}" rel="stylesheet" />


<div class="content">

    <div id="toppage" class="offset-md-3 col-md-6">
        <div class="card card-profile">
            <div class="card-avatar">
                <img class="img" src="{% static 'assetsop/img/user.png' %}" />
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">Öğrenci</h6>
                <h4 class="card-title">{{ surec.ogrenci.getfullname }}</h4>
            </div>
            <div class="card-header card-header-success" style="margin-top:24px;">
                <h4 class="card-title text-left">Öğrenci Bilgileri</h4>
            </div>
            <div class="card-body text-left">
                <h6><b>E-Posta:</b> {{ surec.ogrenci.user.username }}</h6>
                <h6><b>Öğrenci No:</b> {{ surec.ogrenci.ogrencino }}</h6>
                <h6><b>Kayıt Tarihi:</b> {{ surec.ogrenci.ogrenicikayittarihi }}</h6>
                <h6><b>Dönemi:</b> {{ surec.ogrenci.get_donemi_display }}</h6>
            </div>

            <div class="card-header card-header-warning" style="margin-top:24px;">
                <h4 class="card-title text-left">Program Bilgileri</h4>
            </div>
            <div class="card-body text-left">
                <h6><b>Anabilim Dalı:</b> {{ surec.ogrenci.programid.AnaBilimDaliAdi }}</h6>
                <h6><b>Program:</b> {{ surec.ogrenci.programid }}</h6>
                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.ogrenci.programid.anabilimdali.baskan.fullnamewithtitle }}</h6>
            </div>
        </div>
    </div>


    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Aşama Geçiş Durumu</h4>
                <p class="card-category"></p>
            </div>
            <div class="scrolling-wrapper card-body" id="card-body-area" style="margin-top:18px;">
                <div class="node multi-step numbered">
                    <ul class="multi-step-list" id="multi-step-area">
                        {% comment %}
                        <li class="multi-step-item current">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Danışman</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Enstitü Sekreteri</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci İşleri</p>
                            </div>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Aşama Geçiş Mesaj ve Kayıtları</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body" style="margin-top:18px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-warning">
                        <tr>
                            <th>Sıra</th>
                            <th>Geçiş Bilgisi</th>
                            <th>Gönderen</th>
                            <th>Açıklama</th>
                        </tr>
                        </thead>
                        <tbody style="font-size:12px;">
                        {% for log in surec_logs %}
                        <tr class="{% if log.yon == 1 %} card-header-success {% endif %}{% if log.yon == -1 %} card-header-rose {% endif %}">
                            <td style="width:28px;">{{ forloop.counter }}</td>
                            <td>
                                <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                    <li class="font-weight-bold" style="margin-bottom:4px;">{{ log.tarih }}</li>
                                    <li>
                                        {% if log.yon == 1 %}
                                            <ul style="padding-left:0; padding-top:0px; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:40%;">{{ log.onceki_asamaid.asamano }}-{{ log.onceki_asamaid.get_asamaadi }}</li>
                                                <li style="flex-basis:10%;"><span class="fas fa-angle-double-right f-vc"></span></li>
                                                <li style="flex-basis:40%;">{{ log.hedef_asamaid.asamano }}-{{ log.hedef_asamaid.get_asamaadi }}</li>
                                            </ul>
                                        {% endif %}
                                        {% if log.yon == -1 %}
                                            <ul style="padding-left:0; padding-top:0px; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:40%;">{{ log.hedef_asamaid.asamano }}-{{ log.hedef_asamaid.get_asamaadi }}</li>
                                                <li style="flex-basis:10%;"><span class="fas fa-angle-double-left f-vc"></span></li>
                                                <li style="flex-basis:40%;">{{ log.onceki_asamaid.asamano }}-{{ log.onceki_asamaid.get_asamaadi }}</li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                            <td>{{ log.procuser.fullnamewithtitle }}</td>
                            <td style="width:200px;">{{ log.aciklama|default:""}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if surec.durum == 0 %}
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header card-header-dark">
                    <h4 class="card-title" style="color:#000;">Süreç İptali Hakkında</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body" style="margin-top:18px;">
                    <h6><b>İptal Eden:</b> {{ surec.iptaluser.fullnamewithtitle }}</h6>
                    <h6><b>İptal Sebebi:</b> {{ surec.iptalaciklama|default:"---" }}</h6>
                    <h6><b>İptal Tarihi:</b> {{ surec.iptaltarih }}</h6>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="page">
        <div class="row">

            <div id="asamano1" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Tez Danışmanı Atama - Öğrenci - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş form</p>
                    </div>
                    <div id="exportthis" class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci Danışman Tercih Formu -->
                        {% include "post/DanismanAtama/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci Danışman Tercih Formu -->

                        <a class="btn btn-danger pull-right" href="{% url 'post:danisman_atama_print_ogrform' surecid=surec.id pdf=0 %}" target="_blank">
                            <span class="fas fa-2x fa-print f-vc"></span>Yazdır</a>
                        <a class="btn btn-danger pull-right" href="{% url 'post:danisman_atama_print_ogrform' surecid=surec.id pdf=1 %}" target="_blank">
                            <span class="fas fa-2x fa-print f-vc"></span>PDF İndir</a>

                    </div>
                </div>
            </div>


            {% if req|get_yetki_wa:1 == '0' %} <!-- Öğrenci DEĞİL ise tüm süreçleri görebilsin -->
                {% if surec.asamaid.asamano > 2 or surec.asama2_tar %}
                    <div id="asamano2" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Anabilim Dalı Başkanı - Aşama 2</h4>
                                <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s2.fullnamewithtitle }}</h6>
                                <h6><b>ADAK Karar No:</b> {{ surec.adak_karar_no }}</h6>
                                <h6><b>ADAK Karar Tarihi:</b> {{ surec.adak_karar_tar }}</h6>
                                <h6><b>Atanan Danışman:</b> {{ surec.aday_danisman }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:2 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 3 or surec.asama3_tar%}
                    <div id="asamano3" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Danışman - Aşama 3</h4>
                                <p class="card-category">Tez Danışmanı tarafından doldurulmuş danışman atama formu</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <!-- Doldurulmuş Öğrenci Danışman Tercih Formu -->
                                {% include "post/DanismanAtama/doldurulmus_form_dns.html" %}
                                <!-- End Doldurulmuş Öğrenci Danışman Tercih Formu -->

                                <a class="btn btn-danger pull-right" href="{% url 'post:danisman_atama_print_dnsform' surecid=surec.id pdf=0 %}" target="_blank">
                                    <span class="fas fa-2x fa-print f-vc"></span>Yazdır</a>
                                <a class="btn btn-danger pull-right" href="{% url 'post:danisman_atama_print_dnsform' surecid=surec.id pdf=1 %}" target="_blank">
                                    <span class="fas fa-2x fa-print f-vc"></span>PDF İndir</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 4 or surec.asama4_tar%}
                    <div id="asamano4" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Anabilim Dalı - Aşama 4</h4>
                                <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s4.fullnamewithtitle }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:4 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 5 or surec.asama5_tar%}
                    <div id="asamano5" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Enstitü Sekreteri - Aşama 5</h4>
                                <p class="card-category">Enstitü Sekreteri tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Enstitü Sekreteri:</b> {{ surec.yonetici.user.fullnamewithtitle }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:5 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 6 or surec.asama6_tar%}
                    <div id="asamano6" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Öğrenci İşleri - Aşama 6</h4>
                                <p class="card-category">Öğrenci İşleri tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Öğrenci İşleri:</b> {{ surec.ogr_is_user.user.fullnamewithtitle }}</h6>
                                <h6><b>Yönetim Kurulu Karar No/Tarih:</b> {{ surec.ynt_karar_no }} / {{ surec.ynt_karar_tar }}</h6>
                                <h6><b>Onay Durumu:</b> {{ surec.get_onaydurum_display }}</h6>
                                <h6><b>Onay Açıklama:</b> {{ surec.onayaciklama|default:"---" }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:6 }}</h6>
                                <br>
                                <h6><b>Tez Danışmanı Atanacak Öğrenci:</b> {{ surec.ogrenci.getfullname }}</h6>
                                <h6><b>Atanan Tez Danışman:</b> {{ surec.aday_danisman }}</h6>
                                <h6><b>Danışman Atanma Tarihi:</b> {{ surec.ynt_karar_tar }}</h6>
                            </div>
                            <div>
                                {% if req|get_yetki_wa:3 == '2' and req|get_active_user_type_id == 3 %}
                                    <button class='btn btn-danger text-center' style='float:left; margin-left:16px; margin-bottom:16px;' onClick='javascript:ModalAc()'>
                                        <span class='fas fa-2x fa-sync-alt' style='vertical-align: middle; margin-right:12px;'></span>Yönetim Kurulu Bilgilerini Değiştir</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if surec.asamaid.asamano == 7 %}
                    <div id="asamano7" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı Atama - Atama Bilgileri</h4>
                                <p class="card-category">Enstitü tarafından atanmış tez danışmanı atanma bilgileri</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Öğrenci İşleri:</b> {{ surec.ogr_is_user.user.fullnamewithtitle }}</h6>
                                <h6><b>Onay Durumu:</b> {{ surec.get_onaydurum_display }}</h6>
                                <h6><b>Onay Açıklama:</b> {{ surec.onayaciklama|default:"---" }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:6 }}</h6>
                                <br>
                                <h6><b>Tez Danışmanı Atanacak Öğrenci:</b> {{ surec.ogrenci.getfullname }}</h6>
                                <h6><b>Atanan Tez Danışmanı:</b> {{ surec.aday_danisman }}</h6>
                                <h6><b>Danışman Atanma Tarihi:</b> {{ surec.ynt_karar_tar }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Yeni Yönetim Kurulu Bilgileri</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="ynt_no">Yönetim Kurulu Karar No:</label>
                                <input type="text" class="form-control" id="ynt_no" value="{{ surec.ynt_karar_no }}">
                            </div>
                            <div class="form-group">
                                <label for="ynt_tarih">Yönetim Kurulu Karar Tarihi:</label>
                                <br>
                                <input type="date" id="ynt_tarih" name="ynt_tarih" value='{{ surec.ynt_karar_tar|date:"Y-m-d" }}'>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center; justify-content:center;">
                            <div class="col-md-6 text-left">
                                <button type="button" class="btn btn-danger" onclick="javascript:ChangeSurecData();"><span class='fas fa-2x fa-sync-alt f-vc'></span>Değiştir</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class='fas fa-2x fa-door-closed f-vc'></span>Kapat</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END Modal -->
        </div>
    </div>
</div>

<script>
var msa = document.getElementById("multi-step-area");
var cba = document.getElementById("card-body-area");

var data = {{ asamalar }};

var poscurTag;

window.onload = function(e){
    setAsamaDurum();
};

function ToPng() {
        jumpto('toppage');
}

function setAsamaDurum(){
    for(i=0;i<data.length;i++){

        if (data[i].asamano < {{ surec.asamaid.asamano }}){
            var liTag = document.createElement("li");
            liTag.className = 'multi-step-item';
        } else {
            if (data[i].asamano == {{ surec.asamaid.asamano }}) {
                var liTag = document.createElement("li");
                liTag.className = 'multi-step-item current';
            } else {
                if (data[i].asamano > {{ surec.asamaid.asamano }}) {
                    var liTag = document.createElement("li");
                    liTag.className = 'multi-step-item';
                }
            }
        }

        divTag = document.createElement("div");
        divTag.className = 'item-wrap';
        divTag.style.display = 'flex';

        pTag = document.createElement("p");
        pTag.className = 'item-title align-items-center text-center';
        pTag.style.display = "flex";
        pTag.textContent = data[i].adi

        divTag.appendChild(pTag);
        liTag.appendChild(divTag);
        msa.appendChild(liTag);

        if (data[i].asamano == {{ surec.asamaid.asamano }}) {
            poscurTag = liTag;
        }
    }
    //(poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20)/2 - (cba.offsetWidth-20)/2 + poscurTag.offsetWidth/2;
    cba.scrollLeft = (poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20) + poscurTag.offsetWidth/2;
}
</script>

<script src="{% static 'assetsop/js/reconnecting-websocket.js' %}"></script>
<script>
    var formInputYntNo = document.getElementById("ynt_no");
    var formInputYntTar = document.getElementById("ynt_tarih");
    var Socket = new ReconnectingWebSocket('ws://' + window.location.host + '/ws/post/process/');

    Socket.onopen = function(e) {
        console.error('Soket Açılmıştır.');
    }

    Socket.onclose = function(e) {
        console.error('Soket Kapatılmıştır');
    }

    function ChangeSurecData(){
    //    alert(mailadres.value);
    //    alert(unvanSelect.value);
    //    alert(formInputAd.value);
    //    alert(formInputSoyad.value);

		Socket.send(JSON.stringify({'command': 'set_SurecDanismanAtamaYntKrlTarNo', 'surecid':{{ surec.id }}, 'yntno':formInputYntNo.value, 'ynttar':formInputYntTar.value}));
    }

    Socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'set_SurecDanismanAtamaYntKrlTarNo_respond') {
            sonuc = data['sonuc'];
		//	alert(sonuc);
		    $('#myModal').modal('hide');
		    if (sonuc == 1) alert('Yönetim Kurulu Bilgileri Değiştirilmiştir. Sayfa yeniden yüklendikten sonra bilgileri kontrol ediniz.');
		    location.reload(true);
        }
    }

    function ModalAc(){
        $("#myModal").modal()
    }
</script>

{% endblock %}
