{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    select{
     //   font-size:1vw !important;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />

<div class="content">
    <div class="page">
        <div class="row">
            <div id="asamano1" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Danışman Tercih Formunu Doldurunuz</h4>
                        <p class="card-category">Lütfen Bilgilerinizi Kontrol edip tez danışmanı tercihlerinizi yapınız.</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="return SubmitFunction();" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li>
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
                                        <li style="flex-basis:15%;">
                                            <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
                                        </li>
                                        <li class="text-center font-weight-bold" style="flex-basis:85%;">
                                            <h4 class="font-weight-bold">T.C.</h4>
                                            <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                                            <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                                            <h4 class="font-weight-bold">{{ ogr.programid.AnaBilimDaliAdi|upper }} ANABİLİM DALI BAŞKANLIĞINA</h4>
                                        </li>
                                    </ul>
                                </li>
                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Programı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.programid }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.getfullname }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.ogrencino }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışman Türü</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{% if form.atama_tur.value == 0 %}
                                                            Tez Danışmanı
                                                        {% elif form.atama_tur.value == 1 %}
                                                            İkinci Tez Danışmanı
                                                        {% elif form.atama_tur.value == 2 %}
                                                            Proje Danışmanı
                                                        {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Kayıt Tarihi / Dönemi</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.ogrenicikayittarihi  }} / {{ ogr.get_donemi_display }}</li>
                                    </ul>
                                </li>
                                <li style="margin-top:12px;">
                                    <h5 class="text-center font-weight-bold" style="margin-bottom:0;">DANIŞMAN OLARAK TERCİH EDİLEN ÖĞRETİM ÜYELERİ</h5>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold text-center" style="border: 1px solid #000; flex-basis:5%;">SNO</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Ünvanı, Adı Soyad</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Anabilim Dalı</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Bilim Dalı (Enstitüde varsa)</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:5%; padding-left:8px;">1</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns1|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns1_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns1_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:5%; padding-left:8px;">2</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns2|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns2_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns2_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:5%; padding-left:8px;">3</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns3|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns3_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns3_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:5%; padding-left:8px;">4</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns4|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns4_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns4_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:5%; padding-left:8px;">5</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns5|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns5_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns5_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold text-center" style="margin-top:12px;font-size:11pt;">
                                    Yukarıda belirtilen tercihimin dikkate alınarak tez danışmanımın atanmasını arz ederim.
                                </li>


                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="flex-basis:50%;">

                                        </li>
                                        <li style="flex-basis:50%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">
                                                    <div id="div_id_ogr_onay" class="checkbox" style="margin-top:12px;">
                                                        <label for="id_ogr_onay" class="toggle">
                                                            <input type="checkbox" name="ogr_onay" class="toggle__input checkboxinput" id="id_ogr_onay" onclick='OnayCheckClick(this);'>
                                                            <span class="checkbox-decorator toggle__label"><span class="check toggle__text"></span></span>
                                                        </label>
                                                    </div>
                                                    <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                         background-color: transparent;">
                                                </li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ ogr.getfullname }}</li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ 0|getdate }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold" style="margin-top:12px;font-size:11pt;">
                                    Formu kaydetmeden önce lütfen kayıtlı olduğunuz Program, Öğrenci Kayıt Tarih ve Dönem bilgilerinizi son kez kontrol ediniz. Yanlışlık olduğunu düşünüyorsanız <a href="{% url 'post:ogrenciguncelle' %}">Öğrenci Güncelleme </a> sayfasından bilgilerinizi güncelleyebilirsiniz.
                                </li>

                                <li style="margin-top:24px;">
                                    <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>


<script>
var id_ogr_onay = document.getElementById("id_ogr_onay");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){

    if (PersonAyniMIKontrol()==true){
        alert('Benzer Öğretim Üyesi İsmi Girilmiş Lütfen Kontrol Ediniz.');
        savebutton.disabled = false;
        return false;
    }else{
        savebutton.disabled = true;
        return true;
    }
}

window.onload = function(e){
    OnayCheckClick(id_ogr_onay);
    setTimeout(function(){ jumpto('asamano1'); }, 500);
}

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}

</script>

<script src="{% static 'assetsop/js/core/jquery.min.js' %}"></script>
<script>
function measureText(txt, font) {
    var id = 'text-width-tester',
        $tag = $('#' + id);
    if (!$tag.length) {
        $tag = $('<span id="' + id + '" style="display:none;font:' + font + ';">' + txt + '</span>');
        $('body').append($tag);
    } else {
        $tag.css({font:font}).html(txt);
    }
    return {
        width: $tag.width(),
        height: $tag.height()
    }
}

function shrinkToFill(input, fontSize,) {

    txt = input.options[input.selectedIndex].text;
    maxWidth = input.offsetWidth; // add some padding
    font = fontSize + "px ";

    var textWidth = measureText(txt, font).width;
    if (textWidth > maxWidth) {
        // if it's too big, calculate a new font size
        // the extra .9 here makes up for some over-measures
        fontSize = fontSize * maxWidth / textWidth;
        font = fontSize + "px ";
        // and set the style on the input
        input.style.fontSize = fontSize;
    } else {
        // in case the font size has been set small and
        // the text was then deleted
        input.style.fontSize = fontSize;
    }
}

    $('select').on('change', function() {
      shrinkToFill(this, 14);
    });
</script>

<script>
    var data = {{ programlist }};
    var dns1_abd = document.getElementById("id_dns1_abd");
    var dns2_abd = document.getElementById("id_dns2_abd");
    var dns3_abd = document.getElementById("id_dns3_abd");
    var dns4_abd = document.getElementById("id_dns4_abd");
    var dns5_abd = document.getElementById("id_dns5_abd");

    var dns1_bd = document.getElementById("id_dns1_bd");
    var dns2_bd = document.getElementById("id_dns2_bd");
    var dns3_bd = document.getElementById("id_dns3_bd");
    var dns4_bd = document.getElementById("id_dns4_bd");
    var dns5_bd = document.getElementById("id_dns5_bd");

    dns1_abd.onchange = AnaBilimOnChange;
    dns2_abd.onchange = AnaBilimOnChange;
    dns3_abd.onchange = AnaBilimOnChange;
    dns4_abd.onchange = AnaBilimOnChange;
    dns5_abd.onchange = AnaBilimOnChange;

    window.onload = function(e){
        initAnaBilimField();
    }

    function PersonAyniMIKontrol(){
        var aynimi = false;
        for(i = 1; i <= 5; i++) {
            for(j = 1; j <= 5; j++) {
                if (i!=j){
                    a_id = "id_dns"+i.toString();
                    b_id = "id_dns"+j.toString();

                    a = document.getElementById(a_id);
                    b = document.getElementById(b_id);

               //     alert(a.value.trim().toUpperCase()+'<->'+b.value.trim().toUpperCase());

                    if (a.value.length>0 && b.value.length>0){
                        if (a.value.trim().toUpperCase()==b.value.trim().toUpperCase()){
                            aynimi = true;
                        }
                    }
                }
            }
        }

        console.log(aynimi);
        return aynimi;
    }

    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }

    function initAnaBilimField(){
        SetBilimDali(dns1_abd);
        SetBilimDali(dns2_abd);
        SetBilimDali(dns3_abd);
        SetBilimDali(dns4_abd);
        SetBilimDali(dns5_abd);

        dns1_abd.required = true;
        dns2_abd.required = true;
        dns3_abd.required = true;

        document.getElementById("id_dns1").required = true;
        document.getElementById("id_dns2").required = true;
        document.getElementById("id_dns3").required = true;
    }

    function AnaBilimOnChange(){
        SetBilimDali(this);
    }

    function OptionEkle(element,opt){
        var L = element.options.length - 1;
        var varmi = 0;
        for(j = L; j >= 0; j--) {
            if (opt.value == element.options[j].value) {
                varmi = 1;
                break;
            }
        }
        if (varmi == 0){
            element.add(opt);
        }
    }

    function SetBilimDali(e){

        ana_key = e.value;

        var option = document.createElement("option");
            option.text = 'Lütfen Seçiniz';
            option.value = '';

        if (e.name == 'dns1_abd'){
            removeOptions(dns1_bd);
            dns1_bd.add(option);
        }
        if (e.name == 'dns2_abd'){
            removeOptions(dns2_bd);
            dns2_bd.add(option);
        }
        if (e.name == 'dns3_abd'){
            removeOptions(dns3_bd);
            dns3_bd.add(option);
        }
        if (e.name == 'dns4_abd'){
            removeOptions(dns4_bd);
            dns4_bd.add(option);
        }
        if (e.name == 'dns5_abd'){
            removeOptions(dns5_bd);
            dns5_bd.add(option);
        }

        for(i=0;i<data.length;i++){

            if (data[i].abdid == ana_key) {
                if (data[i].ayni == 1){
                    var option = document.createElement("option");
                    option.text = data[i].prgadi;
                    option.value = data[i].prgadi;

                    if (e.name == 'dns1_abd'){
                        OptionEkle(dns1_bd,option);
                    }
                    if (e.name == 'dns2_abd'){
                        OptionEkle(dns2_bd,option);
                    }
                    if (e.name == 'dns3_abd'){
                        OptionEkle(dns3_bd,option);
                    }
                    if (e.name == 'dns4_abd'){
                        OptionEkle(dns4_bd,option);
                    }
                    if (e.name == 'dns5_abd'){
                        OptionEkle(dns5_bd,option);
                    }
                }
            }
        }

        var option = document.createElement("option");
            option.text = '---------';
            option.value = '';

        if (e.name == 'dns1_abd'){
            if (dns1_bd.options.length==1){
                removeOptions(dns1_bd);
                dns1_bd.add(option);
            }
        }
        if (e.name == 'dns2_abd'){
            if (dns2_bd.options.length==1){
                removeOptions(dns2_bd);
                dns2_bd.add(option);
            }
        }
        if (e.name == 'dns3_abd'){
            if (dns3_bd.options.length==1){
                removeOptions(dns3_bd);
                dns3_bd.add(option);
            }
        }
        if (e.name == 'dns4_abd'){
            if (dns4_bd.options.length==1){
                removeOptions(dns4_bd);
                dns4_bd.add(option);
            }
        }
        if (e.name == 'dns5_abd'){
            if (dns5_bd.options.length==1){
                removeOptions(dns5_bd);
                dns5_bd.add(option);
            }
        }
    }
</script>

{% endblock %}