
{% load static %}
{% load tag_functions %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lisansüstü Eğitim Enstitüsü">
    <meta property="og:title" content="Lisansüstü Eğitim" />
    <meta property="og:url" content="online.lisansustu.ibu.edu.tr" />
    <meta property="og:description" content="Bolu Abant İzzet Baysal Üniversitesi Lisansüstü Eğitim Enstitüsü">
    <meta property="og:image" content="{% static 'assets/img/baibulogo.jpg' %}">
    <meta property="og:type" content="article" />
    <link rel='icon' href="{% static 'assets/img/favicon.png' %}" type='image/x-icon' />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon.png' %}">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
    <!-- CheckBoxUI CSS -->
    <link rel="stylesheet" href="{% static 'assetsop/css/jquery-ui.css' %}">
    <!-- CSS Files -->
    <link href="{% static 'assetsop/css/material-dashboard.css' %}" rel="stylesheet" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free/css/all.css' %}">
    <!-- select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- PreLoader CSS -->
    <link rel="stylesheet" href="{% static 'assetsop/css/style_preloader.css' %}">



    <style>

        body {
          background-color: #fff;
        }
        .f-vc{
            vertical-align: middle;
            margin-right:12px;
        }

        li{
            font-size:14px;
        }

        .rectangle{
            width:28px;
            height:28px;
            background:black;
            margin:4px;
        }

        .rectangle_empty{
            width:28px;
            height:28px;
            border: 3px solid #000;
            margin:4px;
        }

        .scrolling-wrapper {
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;

          .node {
            display: inline-block;
          }
        }

        .break-before {
            display: block; /* unhide all tabs */
            break-before: always;
            page-break-before: always;
        }

        @media print {
            .break-before {
                display: block; /* unhide all tabs */
                break-before: always;
                page-break-before: always;
            }
        }
    </style>

    <link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/print.min.css' %}" rel="stylesheet" />
</head>
<body>

<div class="content" style="background-color:#fff;">

    <div class="page">
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman Tercih ve Danışman Atama Formu</h4>
                        <p class="card-category">Öğrenci ve Danışman tarafından doldurulmuş Formlar</p>
                    </div>
                    <div id="exportthis">
                        <div id="exportthisA" class="card-body" style="page-break-after: always;">
                            <!-- Doldurulmuş Öğrenci Danışman Tercih Formu -->
                            {% include "post/DanismanAtama/doldurulmus_form_ogr.html" %}
                            <!-- End Doldurulmuş Öğrenci Danışman Tercih Formu -->
                        </div>
                        <br>  <!--  style="page-break-before: always;" -->
                        <div id="exportthisB" class="card-body" style="page-break-before: always;">
                            <!-- Doldurulmuş Öğrenci Danışman Tercih Formu -->
                            {% include "post/DanismanAtama/doldurulmus_form_dns.html" %}
                            <!-- End Doldurulmuş Öğrenci Danışman Tercih Formu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script src="{% static 'assetsop/js/core/jquery.printElement.js' %}"></script>
<script src="{% static 'assetsop/js/print.min.js' %}"></script>

<script src="{% static 'assetsop/js/html2canvas.js' %}"></script>
<script src="{% static 'assetsop/js/jspdf.min.js' %}"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
-->

<script>

window.onload = function(e){
    {% if pdf == 0 %}
        PrintPP();
    {% elif pdf == 1 %}
       printPDF();
    {% endif %}
};

function PrintPP(){
    $("#exportthis").printElement({
            printBodyOptions:{
            styleToAdd:'padding:10px;margin:10px;background-color:#fff !important;'
            }
    });
}

function printPDF() {
    var cba = document.getElementById("exportthis");
    const filename  = '{{ surec.ogrenci }}-DanismanForm.pdf';
    const oran = 3;

 //   alert(cba.offsetWidth+','+cba.offsetHeight);

    var oldWidth = cba.offsetWidth;
    var oldHeight = cba.offsetHeight;

    cba.style.width = oldWidth+'px';
    cba.style.height = oldHeight+'px';

    var bigCanvas = $("<div>").appendTo('body');  // This will be the 3x sized canvas we're going to render
    var scaledElement = $("#exportthis").clone()
    .css({
      'transform': 'scale('+oran+','+oran+')',
      'transform-origin': '0 0',
      'page-break-after': 'always'
    })
    .appendTo(bigCanvas);

    var oldWidth = cba.offsetWidth;
    var oldHeight = cba.offsetHeight+50;

    var newWidth = oldWidth * oran;
    var newHeight = oldHeight * oran;

    bigCanvas.css({
      'width': newWidth,
      'height': newHeight
    })

    var hh = cba.offsetHeight*211/cba.offsetWidth;
  //  alert(hh);

    html2canvas(bigCanvas,{scale: 1, pagesplit: true}).then(canvas => {
        let pdf = new jsPDF('p', 'mm', [210, hh+10]);
        pdf.addImage(canvas.toDataURL('image/PNG',1), 'PNG', 0, 0, 211, hh, '', 'FAST');
        pdf.save(filename);
        bigCanvas.remove();
    });
}


function printPDFYeni() {
    OPTIONS = {
        'jsPDF': {
            'orientation': 'p',
            'unit': 'px',
            'format': 'a4',
            'putOnlyUsedFonts': false,
            'compress': false,
            'precision': 2,
            'userUnit': 1.0,
        },
        'html2canvas': {
            'allowTaint': false,
            'backgroundColor': '#ffffff',
            'canvas': null,
            'foreignObjectRendering': false,
            'imageTimeout': 15000,
            'logging': false,
            'onclone': null,
            'proxy': null,
            'removeContainer': true,
            'scale': window.devicePixelRatio,
            'useCORS': false,
        },
    }

    var cba = document.getElementById("exportthis");
    var cbaA = document.getElementById("exportthisA");
    var cbaB = document.getElementById("exportthisB");

    const filename  = '{{ surec.ogrenci }}-DanismanForm.pdf';
    const oran = 3;

    var oldWidth = cba.offsetWidth;
    var oldHeight = cba.offsetHeight;

    cba.style.width = oldWidth+'px';
    cba.style.height = oldHeight+'px';

    var sWidth = cba.offsetWidth;
    var sHeight = cba.offsetHeight+50;

    var hh = cba.offsetHeight*211/cba.offsetWidth;
    var hhA = cbaA.offsetHeight*211/cbaA.offsetWidth;
    var hhB = cbaB.offsetHeight*211/cbaB.offsetWidth;
  //  alert(hh);

    let pageCnt = 1;
    html2canvas(cba, OPTIONS.html2canvas).then(canvas => {
        let pdf = new jsPDF('p', 'mm', [210, hh+10]);
        for(i = 1; i <= 2; i++) {
            const childCanvas = document.createElement('CANVAS');
            childCanvas.setAttribute('width', sWidth);
            if (i==1){
                childCanvas.setAttribute('height', cbaA.offsetHeight);
            }else{
                childCanvas.setAttribute('height', cbaB.offsetHeight);
            }
            const childCanvasCtx = childCanvas.getContext('2d');

            if (i==1){
                childCanvasCtx.drawImage(canvas, 100, 0, sWidth, cbaA.offsetHeight, 0, 0, sWidth, cbaA.offsetHeight);
            }else{
                childCanvasCtx.drawImage(canvas, 200, 200, sWidth, cbaA.offsetHeight, 50, 50, sWidth, cbaA.offsetHeight);
            }

            if(pageCnt > 1) {
                pdf.addPage();
            }
            pdf.setPage(pageCnt);
            pdf.addImage(childCanvas.toDataURL('image/PNG',1), 'PNG', 0, 0, 211, hhA, '', 'FAST');
            pageCnt++;
        }

        pdf.save(filename);
    });
}


function printPDFMulti() {
    var cbaA = document.getElementById("exportthisA");
    var cbaB = document.getElementById("exportthisB");

    const filename  = '{{ surec.ogrenci }}-DanismanForm.pdf';
    const oran = 3;

 //   alert(cba.offsetWidth+','+cba.offsetHeight);

    var oldWidthA = cbaA.offsetWidth;
    var oldHeightA = cbaA.offsetHeight;
    var oldWidthB = cbaB.offsetWidth;
    var oldHeightB = cbaB.offsetHeight;

    cbaA.style.width = oldWidthA+'px';
    cbaA.style.height = oldHeightA+'px';
    cbaB.style.width = oldWidthB+'px';
    cbaB.style.height = oldHeightB+'px';

    var bigCanvasA = $("<div>").appendTo('body');
    var bigCanvasB = $("<div>").appendTo('body');

    var scaledElementA = $("#exportthisA").clone()
    .css({
      'transform': 'scale('+oran+','+oran+')',
      'transform-origin': '0 0',
    })
    .appendTo(bigCanvasA);

    var scaledElementB = $("#exportthisB").clone()
    .css({
      'transform': 'scale('+oran+','+oran+')',
      'transform-origin': '0 0',
    })
    .appendTo(bigCanvasB);

    var oldWidthA = cbaA.offsetWidth;
    var oldHeightA = cbaA.offsetHeight+50;
    var oldWidthB = cbaB.offsetWidth;
    var oldHeightB = cbaB.offsetHeight+50;

    var newWidthA = oldWidthA * oran;
    var newHeightA = oldHeightA * oran;
    var newWidthB = oldWidthB * oran;
    var newHeightB = oldHeightB * oran;

    bigCanvasA.css({
      'width': newWidthA,
      'height': newHeightA
    })

    bigCanvasB.css({
      'width': newWidthB,
      'height': newHeightB
    })

    var hhA = cbaA.offsetHeight*211/cbaA.offsetWidth;
    var hhB = cbaB.offsetHeight*211/cbaB.offsetWidth;

    let pdf = new jsPDF('p', 'mm', [210, hhA+10]);

    html2canvas(bigCanvasA,{scale: 1}).then(canvas => {
        pdf.addImage(canvas.toDataURL('image/PNG',1), 'PNG', 0, 0, 211, hhA, '', 'FAST');


    });

    html2canvas(bigCanvasB,{scale: 1}).then(canvas => {
        pdf.addPage();
        pdf.addImage(canvas.toDataURL('image/PNG',1), 'PNG', 0, 0, 211, hhB, '', 'FAST');
        pdf.save(filename);

    });



 //   bigCanvasA.remove();

}

</script>

<script>

class JsPdfWrapper {

    //////////////////////////////////////////////////
    // Constructor
    // @param options object: Toaster Option.
    //////////////////////////////////////////////////
    constructor(options = null) {
        this.OPTIONS = {
            'jsPDF': {
                'orientation': 'p',
                'unit': 'px',
                'format': 'a4',
                'putOnlyUsedFonts': false,
                'compress': false,
                'precision': 2,
                'userUnit': 1.0,
            },
            'html2canvas': {
                'allowTaint': false,
                'backgroundColor': '#ffffff',
                'canvas': null,
                'foreignObjectRendering': false,
                'imageTimeout': 15000,
                'logging': false,
                'onclone': null,
                'proxy': null,
                'removeContainer': true,
                'scale': window.devicePixelRatio,
                'useCORS': false,
            },
        }
        if(options != null) {
            if(options.jsPDF != null) {
                this.OPTIONS.jsPDF = options.jsPDF;
            }
            if(options.html2canvas != null) {
                this.OPTIONS.html2canvas = options.html2canvas;
            }
        }
    }


    //////////////////////////////////////////////////////////////////////
    // Download from HTML.
    //////////////////////////////////////////////////////////////////////
    DownloadFromHTML(targetElm, fileName = null) {
        let totalHeight = targetElm.offsetHeight;
        const pdf = new jsPDF(this.OPTIONS.jsPDF.orientation, this.OPTIONS.jsPDF.unit, this.OPTIONS.jsPDF.format);
        const pdfWidth = pdf.internal.pageSize.width;
        const pdfHeight = pdf.internal.pageSize.height;
        window.scrollTo(0,0);
        html2canvas(targetElm, this.OPTIONS.html2canvas).then((canvas) => {
            const widthRatio = pdfWidth / canvas.width;
            const sX = 0;
            const sWidth = canvas.width;
            const sHeight = pdfHeight + ((pdfHeight - pdfHeight*widthRatio) / widthRatio);
            const dX = 0;
            const dY = 0;
            const dWidth = sWidth;
            const dHeight = sHeight;
            let pageCnt = 1;
            while(totalHeight > 0) {
                totalHeight -= sHeight;
                let sY = sHeight * (pageCnt - 1);
                const childCanvas = document.createElement('CANVAS');
                childCanvas.setAttribute('width', sWidth);
                childCanvas.setAttribute('height', sHeight);
                const childCanvasCtx = childCanvas.getContext('2d');
                childCanvasCtx.drawImage(childCanvas, sX, sY, sWidth, sHeight, dX, dY, dWidth, dHeight);
                if(pageCnt > 1) {
                    pdf.addPage();
                }
                pdf.setPage(pageCnt);
                pdf.addImage(childCanvas.toDataURL('image/png'), 'PNG', 0, 0, canvas.width*widthRatio, 0);
                pageCnt++;
            }
            if(fileName == null) {
                fileName = '';
            } else {
                fileName += '_';
            }
            fileName += this.getCurrentDateStr();
            pdf.save(fileName);
        });
        window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
    }


    //////////////////////////////////////////////////////////////////////
    // Get the current date as yyyymmddHHMMSS string.
    //////////////////////////////////////////////////////////////////////
    getCurrentDateStr() {
        const date = new Date();
        const yyyy = date.getFullYear().toString();
        const mm = date.getMonth() + 1 < 10 ? '0' + date.getMonth() + 1 : (date.getMonth() + 1).toString();
        const dd = date.getDate() < 10 ? '0' + date.getDate() : date.getDate().toString();
        const HH = date.getHours() < 10 ? '0' + date.getHours() : date.getHours().toString();
        const MM = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes().toString();
        const SS = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds().toString();
        return yyyy + mm + dd + HH + MM + SS;
    }


}

function printPDF2() {
     var aa = new JsPdfWrapper();
     var cbaA = document.getElementById("exportthisA");
     aa.DownloadFromHTML(cbaA);
}


</script>


</body>

</html>


