{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .boxes > div{
      width: 100px;
      height:100px;
      display:inline-block;
      float:left;
      background-color: red;
      margin-right: 6px;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .isDisabled {
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
      pointer-events: none;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }

    @media screen and (max-width: 768px) {
        #PC{
            display:none;
        }

        #Mobile{
            display:block;
        }
    }

    @media screen and (min-width: 768px) {
        #PC{
            display:block;
        }

        #Mobile{
            display:none;
        }
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {% if genelsayilar|length > 0 %}
                <div class="card">
                    <div class="card-header card-header-info text-center">
                        <a class="btn btn-info btn.btn-fab"
                                style="padding:4px;white-space:normal;" type="button"
                                data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Genel Danışman Atama Süreç Bilgisi
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show"
                         aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                            <div class="table-responsive">
                                <table class="table" style="font-size:12px;margin-bottom:2px;">
                                    <thead class="text-info">
                                    <tr>
                                        <th>Aşama No/Birim Adı</th>
                                        <th>Adet</th>
                                        <th>Yüzde</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for gsay in genelsayilar %}
                                        {% if gsay.oran != 'top' %}
                                            <tr>
                                                <td>{{ gsay.asamaadi }}</td>
                                                <td>{{ gsay.cnt }}</td>
                                                <td>{{ gsay.oran }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td style="font-weight:900; font-size:14px;">{{ gsay.asamaadi }}</td>
                                                <td style="font-weight:600; font-size:14px;">{{ gsay.cnt }}</td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                        <h6 class="card-category text-gray">Öğrenci</h6>
                    <!--    <h6 class="card-category text-gray">First:{{f_dns_cnt}}</h6>
                        <h6 class="card-category text-gray">Second:{{s_dns_cnt}}</h6>
                    -->
                        {% else %}
                        <h6 class="card-category text-gray">{{ user.kullaniciekbilgi.title|default:"" }}</h6>
                        {% endif %}
                        <h4 class="card-title">{{ request.user.get_full_name }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% if genelsayilar2|length > 0 %}
                <div class="card">
                    <div class="card-header card-header-info text-center">
                        <a class="btn btn-info btn.btn-fab"
                           style="padding:4px;white-space:normal;" type="button"
                           data-toggle="collapse" data-target="#collapseTwo"
                           aria-expanded="true" aria-controls="collapseTwo">
                            Genel Danışman Değiştirme Süreç Bilgisi
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse show"
                         aria-labelledby="headingTwo"
                         data-parent="#accordionExample">
                        <div class="card-body" style="margin-top:2px;margin-bottom:2px;padding-top:2px;padding-bottom:2px;">
                            <div class="table-responsive">
                                <table class="table" style="font-size:12px;margin-bottom:2px;">
                                    <thead class="text-info">
                                    <tr>
                                        <th>Aşama No/Birim Adı</th>
                                        <th>Adet</th>
                                        <th>Yüzde</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for gsay in genelsayilar2 %}
                                    {% if gsay.oran != 'top' %}
                                    <tr>
                                        <td>{{ gsay.asamaadi }}</td>
                                        <td>{{ gsay.cnt }}</td>
                                        <td>{{ gsay.oran }}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td style="font-weight:900; font-size:14px;">{{ gsay.asamaadi }}</td>
                                        <td style="font-weight:600; font-size:14px;">{{ gsay.cnt }}</td>
                                        <td></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

            <!-- aktif bir öğrenci ise -->
            {% if req|get_yetki_wa:1 == '2' %}
            <div class="col-md-12 text-center">
                <div class="row" style="display:block;margin:auto;">
                    {% if req|get_ogr_programtur == 1 or req|get_ogr_programtur == 2 %} <!-- Tezli YL veya Doktora ise -->
                        {% if f_dns_cnt == 0 %}
                            <a href="{% url 'post:danisman_atama_asama1'%}" class=" btn btn-success btn.btn-fab" style="width:250px;" >
                                <span class="far fa-2x fa-handshake f-vc"></span>Tez Danışmanı Tercih</a>
                        {% else %}
                            <a href="#" class=" btn btn-success btn.btn-fab isDisabled" style="width:250px;" >
                                <span class="far fa-2x fa-handshake f-vc"></span>Tez Danışmanı Tercih</a>
                        {% endif %}

                        <a href="{% url 'post:danisman_degistirme_asama1'%}" class=" btn btn-success btn.btn-fab" style="width:250px;" >
                            <span class="fas fa-2x fa-sync-alt f-vc"></span>Tez Danışmanı Değişikliği</a>

                    {% endif %}
                </div>
            </div>
            {% else %}
                <div class="offset-md-2 col-md-8">
                    <div class="card bg-warning" style="margin:4px 0;">
                        <form onsubmit="return SubmitFunction();" class="navbar-form" style="margin-left:8px; margin-right:8px; margin-top:4px; margin-bottom:8px;">
                            <div class="input-group">
                                <input id="search_area" type="text" value="" name="q" class="form-control" placeholder="Ara">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon" style="position:relative;top:0;right:0;">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                            <div style="font-weight:500;">
                                <p>
                                    Arama yapmak için Öğrenci Adı-Soyadı, Aşama No, Süreç Türü veya İlgili Birim adını yazabilirsiniz.
                                </p>
                                <p>
                                    Örneğin: Ahmet, Danışman, Değiştirme veya 4 yazarsanız sırasıyla tüm ahmet ismini içeren öğrencileri,
                                    danışman üzerindeki süreçleri, Danışman Değiştirme süreçlerini veya 4`nolu aşamada olan Ana Bilim Dalı Başkanı üzerindeki süreçleri görebilirsiniz.
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <div class="row" style="display:block;margin:auto;">
                        {% if search_asama %}
                            <a href="javascript:addParameterToURL('{{ search_asama }}')" class="btn btn-danger btn.btn-fab" style="width:250px;" >
                                    <span class="far fa-2x fa-clock f-vc"></span>İşlem Bekleyenler</a>
                        {% endif %}
                        <a href="javascript:addParameterToURL('7')" class=" btn btn-success btn.btn-fab" style="width:250px;" >
                                <span class="fas fa-2x fa-check f-vc"></span>Tamamlananlar</a>
                        <a href="javascript:addParameterToURL('--')" class=" btn btn-info btn.btn-fab" style="width:250px;" >
                                <span class="fab fa-2x fa-buffer f-vc"></span>Tümünü Göster</a>

                        <a href="javascript:addParameterToURL('8')" class=" btn btn-warning btn.btn-fab" style="width:170px;" >
                            <span class="fas fa-2x fa-archive f-vc"></span>Arşiv</a>

                        <a href="javascript:iptalParameterToURL();" class=" btn btn-default btn.btn-fab" style="width:170px;" >
                            <span class="fas fa-2x fa-archive f-vc"></span>İptaller</a>

                        {% if req|get_grup_yetki:'export-excel' == 2 %}
                            <a href="{% url 'post:export_danisman_atama_xls'%}" class=" btn btn-primary btn.btn-fab" style="width:170px;" >
                                <span class="fas fa-2x fa-file-excel f-vc"></span>Export Excel</a>
                        {% endif %}
                    </div>
                </div>

            {% endif %}

            <div class="col-md-12" id="PC">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Tez Danışman Atama Süreçleri</h4>
                        <p class="card-category"><b>Gösterilen Kayıt Sayısı: {{ surecler_cnt }} Adet</b></p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <div class="table-responsive">
                            <table class="table" style="border-collapse:separate;border-spacing: 0px 2px;">
                                <thead class="text-warning">
                                <tr>
                                    <th>ID</th>
                                    <th style="width:300px;">Program Adı</th>
                                    <th>Süreç Türü</th>
                                    <th>Aşama Durum</th>
                                    <th class="text-center">İşlem</th>
                                    <th class="text-center">Yazdır</th>
                                </tr>
                                </thead>
                                <tbody class="infinite-container">
                                {% for surec in surecler %}

                                    <tr class="{% if surec.durum == 0 %}
                                                    table-dark2
                                               {% else %}
                                                    {% if surec|get_surec_process_btn_visible:aktif_user_tip == True %}
                                                        table-danger
                                                    {% endif %}

                                                    {% if surec.asamaid.bitim == True %}
                                                         table-success
                                                    {% endif %}
                                               {% endif %} infinite-item">
                                        <td>{{ surec.id }}</td>
                                        <td>
                                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                <li class="font-weight-bold" style="margin-bottom:4px;">{{ surec|get_danismanatama_asama_tar:1|date:"d/m/Y" }}</li>
                                                <li class="font-weight-bold" style="margin-bottom:4px;">{{ surec.ogrenci.getfullname }}</li>
                                                <li>{{ surec.programid }}</li>
                                            </ul>

                                        </td>
                                        <td>{{ surec.get_surec_turu_display }}</td>
                                        <td>
                                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                <li class="font-weight-bold" style="margin-bottom:4px;">Aşama {{ surec.asamaid.asamano }}{% if surec.durum == 0 %} - İptal Edilmiş{% endif %}</li>
                                                <li style="margin-bottom:4px;">{{ surec.get_asamaadi }}</li>
                                                <li>{{ surec.get_asama_muhatap|default:"" }}</li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                <li>
                                                    {% if surec|get_surec_process_btn_visible:aktif_user_tip == True %}
                                                        {% if surec.asamaid.bitim == False %}

                                                            {% if self.surec_turu == 0 and surec.asamaid.asamano == 5 %}
                                                                <a href="{{ surec.get_surec_enstitu_sc_url }}" class="btn btn-primary" style="width:170px;"><span class="fas fa-2x fa-forward f-vc"></span>Onaylıyorum</a>
                                                            {% endif %}

                                                            {% if self.surec_turu == 1 and surec.asamaid.asamano == 6 %}
                                                                <a href="{{ surec.get_surec_enstitu_sc_url }}" class="btn btn-primary" style="width:170px;"><span class="fas fa-2x fa-forward f-vc"></span>Onaylıyorum</a>
                                                            {% endif %}

                                                            <a href="{{ surec.get_surec_url }}" class="btn btn-success" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                        {% else %}
                                                            <a href="" class="btn btn-dark isDisabled" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="" class="btn btn-dark isDisabled" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <a href="{{ surec.get_surec_detay_url }}" class="btn btn-success" style="width:170px;">
                                                        <span class="fas fa-2x fa-info-circle f-vc"></span>
                                                        Ayrıntılar
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center">
                                                <a class="btn btn-danger" style="width:64px; padding-left:4px; padding-right:4px;" href="{{ surec.get_surec_print_ogrform }}" target="_blank">
                                                    <span class="fas fa-2x fa-print f-vc" style="margin-right:0;"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 justify-content-center text-center">
                            {% if surecler.has_next %}
                                <a class="infinite-more-link" href="?page={{ surecler.next_page_number }}"></a>
                            {% endif %}
                            <div class="loading" style="display: none;">
                                <img src="{% static 'assetsop/img/indexloading.gif' %}" style="width:50px; height:50px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="Mobile">
                <div class="card" style="background-color:#f3f3f3;">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Danışman Atama Süreçleri</h4>
                        <p class="card-category"><b>Gösterilen Kayıt Sayısı: {{ surecler_cnt }} Adet</b></p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <div class="row">
                            {% for surec in surecler %}
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card card-stats
                                                {% if surec.durum == 0 %}
                                                        table-dark2
                                                {% else %}
                                                    {% if surec|get_surec_process_btn_visible:aktif_user_tip == True %}
                                                        table-danger
                                                    {% endif %}

                                                    {% if surec.asamaid.bitim == True %}
                                                         table-success
                                                    {% endif %}
                                                {% endif %}">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon">
                                                <span style="font-size:12px; font-weight:900; margin: 0 0;">Aşama</span>
                                                <h3 style="font-size:24px; font-weight:900; margin: 0 0;" class="text-center">{{ surec.get_asamano_informat }}</h3>
                                            </div>
                                            <p class="card-category">{{ surec.id }} - {{ surec|get_danismanatama_asama_tar:1|date:"d/m/Y" }}</p>
                                            <h4 class="card-title">{{ surec.ogrenci.getfullname }}</h4>
                                        </div>
                                        <div class="card-body text-left">
                                            <h5 style="margin-bottom:2px;"><b>{{ surec.get_atama_tur_display }}</b></h5>
                                            <h5 style="margin-bottom:8px;">{{ surec.programid }}</h5>
                                            <hr>
                                            {% if surec.asamaid.bitim == False %}
                                            <h5 style="margin-bottom:2px;"><b>{{ surec.get_asamaadi }} üzerinde{% if surec.durum == 0 %} - İptal Edilmiş{% endif %}</b></h5>
                                            {% else %}
                                            <h5 style="margin-bottom:2px;"><b>Süreç Bitmiştir</b></h5>
                                            {% endif %}
                                            <h5 style="margin-bottom:8px;">{{ surec.get_asama_muhatap|default:"" }}</h5>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                    <li class="text-center">
                                                        {% if surec|get_surec_process_btn_visible:aktif_user_tip == True %}
                                                        {% if surec.asamaid.bitim == False %}
                                                        <a href="{{ surec.get_surec_url }}" class="btn btn-success" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                        {% else %}
                                                        <a href="" class="btn btn-dark isDisabled" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                        {% endif %}
                                                        {% else %}
                                                        <a href="" class="btn btn-dark isDisabled" style="width:170px;"><span class="fas fa-2x fa-pen-alt f-vc"></span>İşlem Yap</a>
                                                        {% endif %}
                                                        <a href="{{ surec.get_surec_detay_url }}" class="btn btn-success" style="width:170px;">
                                                            <span class="fas fa-2x fa-info-circle f-vc"></span>
                                                            Ayrıntılar
                                                        </a>
                                                        <a class="btn btn-danger" style="width:170px; padding-left:4px; padding-right:4px;" href="{{ surec.get_surec_print_ogrform }}" target="_blank">
                                                            <span class="fas fa-2x fa-print f-vc"></span>
                                                            Yazdır
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            <span class="step-links text-center">
                                {% if surecler.has_previous %}
                                    <a href="?page=1">&laquo; İlk</a> |
                                    <a href="?page={{ surecler.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Önceki</a>
                                {% endif %}

                                <span class="current">
                                    Sayfa {{ surecler.number }} of {{ surecler.paginator.num_pages }}.
                                </span>

                                {% if surecler.has_next %}
                                    <a href="?page={{ surecler.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Sonraki</a> |
                                    <a href="?page={{ surecler.paginator.num_pages }}">Son &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sayfalama için -->
<script src="{% static 'assetsop/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assetsop/js/paging/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assetsop/js/paging/infinite.js' %}"></script>
<!-- END - Sayfalama için -->

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      order:1,
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>


<script>

function MesajGonder(text, from, align){
    type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];

    color = Math.floor((Math.random() * 6) + 1);

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: type[color],
      timer: 3000,
      placement: {
        from: from,
        align: align
      }
    });
}

function SubmitFunction(){
    search_area = document.getElementById("search_area");
    if (search_area.value.length == 0){
        search_area.value = '--';
    }
}

window.onload = function(e){
    st = '{{ search_text }}';

    if (st.length > 0){
        document.getElementById("search_area").value = st;
    } else {
        getSearchToString();
    }
}

function addParameterToURL(param){
    url = "q="+ param;
    document.location.search = url;
}

function iptalParameterToURL(){
    url = "ipt=1";
    document.location.search = url;
}

function getAll(){
    var url = window.location.href;
        url = url.split('?')[0];

    window.location.href = url;
}

function getSearchToString(){
    var url = window.location.href;

    if (url.indexOf('?')> -1){
        parse1 = url.split('?')[1];

        if (parse1.indexOf('q=')> -1){
            parse2 = parse1.split('q=')[1];
            if (parse2 == '--'){
                document.getElementById("search_area").value = '';
            } else {
                document.getElementById("search_area").value = parse2;
            }
        }
    }
}

</script>

{% endblock %}