{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    select{
     //   font-size:1vw !important;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />

<div class="content">
    <div class="page">
        <div class="row">
            <div id="asamano1" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Danışman Tercih Formunu Doldurunuz</h4>
                        <p class="card-category">Lütfen Bilgilerinizi Kontrol edip, danışman tercihlerinizi yapınız.</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li>
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
                                        <li style="flex-basis:15%;">
                                            <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
                                        </li>
                                        <li class="text-center font-weight-bold" style="flex-basis:85%;">
                                            <h4 class="font-weight-bold">T.C.</h4>
                                            <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                                            <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                                            <h4 class="font-weight-bold">{{ ogr.programid.AnaBilimDaliAdi|upper }} ANABİLİM DALI BAŞKANLIĞINA</h4>
                                        </li>
                                    </ul>
                                </li>
                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Programı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.programid }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.getfullname }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.ogrencino }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışman Türü</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{% if form.atama_tur.value == 0 %}
                                                            Tez Danışmanı
                                                        {% elif form.atama_tur.value == 1 %}
                                                            İkinci Tez Danışmanı
                                                        {% elif form.atama_tur.value == 2 %}
                                                            Proje Danışmanı
                                                        {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Kayıt Tarihi / Dönemi</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ ogr.ogrenicikayittarihi  }} / {{ ogr.get_donemi_display }}</li>
                                    </ul>
                                </li>
                                {% if aktif_dns_cnt == 1 %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışmanı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ aktif_1_dns.danisman }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Danışman Atanma Tarihi</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ aktif_1_dns.kayittarihi|date:"d/m/Y" }}</li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li style="margin-top:12px;">
                                    <h5 class="text-center font-weight-bold" style="margin-bottom:0;">YENİ DANIŞMAN OLARAK TERCİH EDİLEN ÖĞRETİM ÜYESİ</h5>
                                </li>
                                {% if aktif_dns_cnt == 0 %}
                                <li class="font-weight-bold" style="margin:12px 0; font-size:11pt;">
                                    <ul style="padding-left:12px; padding-top:0;">
                                        <li>Kayıtlı Tez Danışmanınız varsa lütfen kayıt tarihi ile birlikte doğru girmeniz önemlidir.</li>
                                        <li>Danışman veya Danışman Atanma Tarihinin yanlış girilmesi durumunda ilgili danışman ile iletişime geçilerek sürecin bir önceki aşamaya döndürülmesi sağlanmalıdır.</li>
                                        <li>Aradığınız Danışmanı bulamıyorsanız lütfen Lisansüstü Eğitim Enstitüsü ile iletişime geçiniz.</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:40%; padding-left:8px;">Tez Danışmanı:</li>
                                        <li style="border: 1px solid #000; flex-basis:60%; padding:0 8px;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:80%;padding-top:12px;padding-right:4px;">
                                                    {{ form.eski_danisman|as_crispy_field }}
                                                </li>
                                                <li style="flex-basis:20%;">
                                                    <a class="btn btn-danger pull-right text-white" onclick="$('#id_eski_danisman').val(null).trigger('change');">Sil</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:40%; padding-left:8px;">Danışman Atanma Tarihi:</li>
                                        <li style="border: 1px solid #000; flex-basis:60%; padding:2px 8px;">{{ form.dns_kayit_tarih|as_crispy_field }}</li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li>
                                    <ul style="padding-left:0; padding-top:12px; list-style-type:none;display:flex;flex-direction:column;">
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Ünvanı, Adı Soyad</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Anabilim Dalı</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Bilim Dalı (Enstitüde varsa)</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns1|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.dns1_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.dns1_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:35%; padding-left:8px;">
                                            <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">Danışman Değişiklik gerekçesini yazınız</p></div>
                                        </li>
                                        <li style="border: 1px solid #000; flex-basis:65%; padding:8px;">{{ form.dns_degisiklik_grk|as_crispy_field  }}</li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold text-center" style="margin-top:12px;font-size:11pt;">
                                    Yukarıda belirtilen tercihimin dikkate alınarak yeni tez danışmanımın atanmasını arz ederim.
                                </li>


                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="flex-basis:50%;">

                                        </li>
                                        <li style="flex-basis:50%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">
                                                    <div id="div_id_ogr_onay" class="checkbox" style="margin-top:12px;">
                                                        <label for="id_ogr_onay" class="toggle">
                                                            <input type="checkbox" name="ogr_onay" class="toggle__input checkboxinput" id="id_ogr_onay" onclick='OnayCheckClick(this);'>
                                                            <span class="checkbox-decorator toggle__label"><span class="check toggle__text"></span></span>
                                                        </label>
                                                    </div>
                                                    <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                         background-color: transparent;">
                                                </li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ ogr.getfullname }}</li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ 0|getdate }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold" style="margin-top:12px;font-size:11pt;">
                                    Formu kaydetmeden önce lütfen kayıtlı olduğunuz Program, Öğrenci Kayıt Tarih ve Dönem bilgilerinizi son kez kontrol ediniz. Yanlışlık olduğunu düşünüyorsanız <a href="{% url 'post:ogrenciguncelle' %}">Öğrenci Güncelleme </a> sayfasından bilgilerinizi güncelleyebilirsiniz.
                                </li>

                                <li style="margin-top:24px;">
                                    <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>


<script>
var id_ogr_onay = document.getElementById("id_ogr_onay");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){
    OnayCheckClick(id_ogr_onay);
    setTimeout(function(){ jumpto('asamano1'); }, 500);
}

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}

</script>

<script src="{% static 'assetsop/js/core/jquery.min.js' %}"></script>
<script>
function measureText(txt, font) {
    var id = 'text-width-tester',
        $tag = $('#' + id);
    if (!$tag.length) {
        $tag = $('<span id="' + id + '" style="display:none;font:' + font + ';">' + txt + '</span>');
        $('body').append($tag);
    } else {
        $tag.css({font:font}).html(txt);
    }
    return {
        width: $tag.width(),
        height: $tag.height()
    }
}

function shrinkToFill(input, fontSize,) {

    txt = input.options[input.selectedIndex].text;
    maxWidth = input.offsetWidth; // add some padding
    font = fontSize + "px ";

    var textWidth = measureText(txt, font).width;
    if (textWidth > maxWidth) {
        // if it's too big, calculate a new font size
        // the extra .9 here makes up for some over-measures
        fontSize = fontSize * maxWidth / textWidth;
        font = fontSize + "px ";
        // and set the style on the input
        input.style.fontSize = fontSize;
    } else {
        // in case the font size has been set small and
        // the text was then deleted
        input.style.fontSize = fontSize;
    }
}

    $('select').on('change', function() {
      shrinkToFill(this, 14);
    });
</script>

<script>
    var data = {{ programlist }};
    var dns1_abd = document.getElementById("id_dns1_abd");
    var dns1_bd = document.getElementById("id_dns1_bd");
    dns1_abd.onchange = AnaBilimOnChange;


    window.onload = function(e){
        initAnaBilimField();

        {% if aktif_dns_cnt == 0 %}
            document.getElementById("id_eski_danisman").required = true;
            document.getElementById("id_dns_kayit_tarih").required = true;
        {% endif %}

        document.getElementById("id_dns_degisiklik_grk").required = true;
    }

    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }

    function initAnaBilimField(){
        SetBilimDali(dns1_abd);
    }

    function AnaBilimOnChange(){
        SetBilimDali(this);
    }

    function OptionEkle(element,opt){
        var L = element.options.length - 1;
        var varmi = 0;
        for(j = L; j >= 0; j--) {
            if (opt.value == element.options[j].value) {
                varmi = 1;
                break;
            }
        }
        if (varmi == 0){
            element.add(opt);
        }
    }

    function SetBilimDali(e){

        ana_key = e.value;

        var option = document.createElement("option");
            option.text = 'Lütfen Seçiniz';
            option.value = '';

        if (e.name == 'dns1_abd'){
            removeOptions(dns1_bd);
            dns1_bd.add(option);
        }

        for(i=0;i<data.length;i++){

            if (data[i].abdid == ana_key) {
                if (data[i].ayni == 1){
                    var option = document.createElement("option");
                    option.text = data[i].prgadi;
                    option.value = data[i].prgadi;

                    if (e.name == 'dns1_abd'){
                        OptionEkle(dns1_bd,option);
                    }
                }
            }
        }

        var option = document.createElement("option");
            option.text = '---------';
            option.value = '';

        if (e.name == 'dns1_abd'){
            if (dns1_bd.options.length==1){
                removeOptions(dns1_bd);
                dns1_bd.add(option);
            }
        }
    }
</script>

{% endblock %}