{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }


    html {
        scroll-behavior: smooth;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />


<div class="content">
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                        {% include "post/DanismanDegistirme/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                    </div>
                </div>
            </div>

            <div id="asamano2" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Danışman Değiştirme - Danışman - Aşama 2</h4>
                        <p class="card-category">Lütfen Gerekli Bilgilerinizi Giriniz ve Onaylayınız</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="margin-bottom:32px;">
                                <h6><b>Tez Danışmanı:</b> {{ surec.eski_danisman }}</h6>
                                {% if aktif_dns_cnt == 0 %}
                                <p class="font-weight-bold" style="color:red;">Danışmanlık bilgileriniz öğrenci beyanına göre girilmiştir. Eğer öğrencinin Tez Danışmanı olmadığınızı düşünüyorsanız
                                    veya Danışman Atanma Tarihinin yanlış girildiğini düşünüyorsanız lütfen süreci öğrenci aşamasına geri gönderiniz.
                                </p>
                                {% endif %}
                            </div>

                            <div style="margin-top:12px;">
                                <p><b>Danışman Değişikliği işlemini onaylıyorsanız açıklama isteğe bağlıdır. Danışman Değişikliği işlemini onaylamadığınız taktirde açıklama girmelisiniz.
                                    Girdiğiniz açıklama ile birlikte bir sonraki aşamaya geçilecek ve öğrenciye bilgi verilecektir.</b></p>
                            </div>

                            <div id="div_id_eski_danisman_onay" class="checkbox" style="margin-top:24px;">
                                <label for="id_eski_danisman_onay" class="toggle">
                                    <input type="checkbox" name="eski_danisman_onay" class="toggle__input checkboxinput" id="id_eski_danisman_onay" onclick='OnayCheckClick(this);'>
                                    <span class="checkbox-decorator toggle__label"><span class="check toggle__text">Danışmanı olarak öğrencimin Danışman Değişikliği işlemini onaylıyorum</span></span>
                                </label>
                            </div>

                            <h6 style="margin-top:24px;"><b>Açıklama: </b></h6>
                            <div style="border: 1px solid #000; border-radius:10px;">
                                <div style="margin:12px;">
                                    {{ form.red_grk|as_crispy_field }}
                                </div>
                            </div>

                            <div style="margin-top:24px;">
                                <a class="btn btn-danger pull-right" style="color:#fff;" href="{{ surec.get_surec_geri_url }}">Geri Gönder</a>
                                <button id="savebutton" type="submit" class="btn btn-warning pull-right">Sonraki Aşama için Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/DanismanDegistirme/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
    </div>
</div>

<script src="{% static 'assetsop/js/print/jquery-1.10.2.js' %}"></script>
<script>
var eski_danisman_onay = document.getElementById("id_eski_danisman_onay");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){
    OnayCheckClick(eski_danisman_onay);
    setTimeout(function(){ jumpto('asamano2'); }, 500);
};

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        document.getElementById("id_red_grk").required = false;
    } else {
        document.getElementById("id_red_grk").required = true;
    }
}

</script>

{% endblock %}