{% load static %}
{% load tag_functions %}

<ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
    <li>
        <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
            <li style="flex-basis:15%;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:160; width:160; padding:10px; background-color:#fff; margin:auto;">
            </li>
            <li class="text-center font-weight-bold" style="flex-basis:85%;">
                <h4 class="font-weight-bold">T.C.</h4>
                <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                <h4 class="font-weight-bold">{{ surec.programid.AnaBilimDaliAdi|upper }} ANABİLİM DALI BAŞKANLIĞINA</h4>
            </li>
        </ul>
    </li>
    <li style="margin-top:24px;">
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Programı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.getfullname }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrencino }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışman Türü</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.get_atama_tur_display }} </li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Kayıt Tarihi / Dönemi</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrenicikayittarihi  }} / {{ surec.ogrenci.get_donemi_display }}</li>
        </ul>
    </li>
    {% if surec.eski_danisman %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışmanı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.eski_danisman }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Danışman Atanma Tarihi</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.dns_kayit_tarih|date:"d/m/Y" }}</li>
        </ul>
    </li>
    {% else %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışmanı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">Danışman Yok</li>
        </ul>
    </li>
    {% endif %}
    <li style="margin-top:12px;">
        <h5 class="text-center font-weight-bold" style="margin-bottom:0;">YENİ DANIŞMAN OLARAK TERCİH EDİLEN ÖĞRETİM ÜYESİ</h5>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:12px; list-style-type:none;display:flex;flex-direction:column;">
            <li>
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                    <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Ünvanı, Adı Soyad</li>
                    <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Anabilim Dalı</li>
                    <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Bilim Dalı (Enstitüde varsa)</li>
                </ul>
            </li>
            <li>
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                    <li style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">{{ surec.dns1|default:"" }}</li>
                    <li style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">{{ surec.dns1_abd|default:"" }}</li>
                    <li style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">{{ surec.dns1_bd|default:"" }}</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:35%; padding-left:8px;">
                <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">Danışman Değişiklik gerekçesini yazınız</p></div>
            </li>
            <li style="border: 1px solid #000; flex-basis:65%; padding:8px;">{{ surec.dns_degisiklik_grk }}</li>
        </ul>
    </li>
    <li class="font-weight-bold" style="margin-top:12px;font-size:11pt;">
        Yukarıda belirtilen tercihimin dikkate alınarak yeni tez danışmanımın atanmasını arz ederim.
    </li>
    <li style="margin-top:24px;">
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li style="flex-basis:50%;">

            </li>
            <li style="flex-basis:50%;">
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                    <li class="font-weight-bold text-center">
                        <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                         background-color: transparent;">
                    </li>
                    <li class="font-weight-bold text-center">{{ surec.ogrenci.getfullname }}</li>
                    <li class="font-weight-bold text-center">{{ surec|get_danismanatama_asama_tar:1|date:"d/m/Y" }}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>