{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }


    html {
        scroll-behavior: smooth;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />


<div class="content">
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                        {% include "post/DanismanDegistirme/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                    </div>
                </div>
            </div>

            <div id="asamano2" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman - Aşama 2</h4>
                        <p class="card-category">Danışman tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Tez Danışmanı:</b> {{ surec.eski_danisman.user.fullnamewithtitle }}</h6>
                        <h6><b>Tez Konu/Başlık Devam Onay Bilgisi:</b> {{ surec.get_tezbslk_onay_display }}</h6>
                        <h6><b>Açıklama:</b> {{ surec.red_grk|default:"---" }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:2 }}</h6>

                        {% if surec.eski_danisman_onay %}
                        <div class="card-header-success" style="width:150px; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-check f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">Onaylandı</h4></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="card-header-danger" style="width:180; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-times f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">ONAYLANMADI</h4></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="asamano3" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Anabilim Dalı - Aşama 3</h4>
                        <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s2.fullnamewithtitle }}</h6>
                        <h6><b>ADAK Karar No:</b> {{ surec.adak_karar_no }}</h6>
                        <h6><b>ADAK Karar Tarihi:</b> {{ surec.adak_karar_tar }}</h6>
                        <h6><b>Atanan Danışman:</b> {{ surec.aday_danisman }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danismanatama_asama_tar:3 }}</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman Atama Formu - Aşama 4</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                        {% include "post/DanismanDegistirme/doldurulmus_form_dns.html" %}
                        <!-- End Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                    </div>
                </div>
            </div>

            <div id="asamano5" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Danışman Atama - Ana Bilim Dalı Başkanı - Aşama 5</h4>
                        <p class="card-category">Lütfen Gerekli Bilgilerinizi Giriniz ve Onaylayınız</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="margin-bottom:32px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s2.fullnamewithtitle }}</h6>
                            </div>

                            <div id="div_id_abd_bsk_onay_s4" class="checkbox" style="margin-top:24px;">
                                <label for="id_abd_bsk_onay_s4" class="toggle">
                                    <input type="checkbox" name="abd_bsk_onay_s4" class="toggle__input checkboxinput" id="id_abd_bsk_onay_s4" onclick='OnayCheckClick(this);'>
                                    <span class="checkbox-decorator toggle__label"><span class="check toggle__text">Anabilim Dalı Başkanı olarak yukarıdaki bilgileri onaylıyorum</span></span>
                                </label>
                            </div>

                            <div style="margin-top:24px;">
                                <a class="btn btn-danger pull-right" style="color:#fff;" href="{{ surec.get_surec_geri_url }}">Geri Gönder</a>
                                <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/DanismanAtama/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
    </div>
</div>

<script src="{% static 'assetsop/js/print/jquery-1.10.2.js' %}"></script>
<script>
var abd_bsk_onay_s4 = document.getElementById("id_abd_bsk_onay_s4");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){
    OnayCheckClick(abd_bsk_onay_s4);
    setTimeout(function(){ jumpto('asamano5'); }, 500);
};

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}

</script>

{% endblock %}