
{% load static %}
{% load tag_functions %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lisansüstü Eğitim Enstitüsü">
    <meta property="og:title" content="Lisansüstü Eğitim" />
    <meta property="og:url" content="online.lisansustu.ibu.edu.tr" />
    <meta property="og:description" content="Bolu Abant İzzet Baysal Üniversitesi Lisansüstü Eğitim Enstitüsü">
    <meta property="og:image" content="{% static 'assets/img/baibulogo.jpg' %}">
    <meta property="og:type" content="article" />
    <link rel='icon' href="{% static 'assets/img/favicon.png' %}" type='image/x-icon' />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon.png' %}">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
    <!-- CheckBoxUI CSS -->
    <link rel="stylesheet" href="{% static 'assetsop/css/jquery-ui.css' %}">
    <!-- CSS Files -->
    <link href="{% static 'assetsop/css/material-dashboard.css' %}" rel="stylesheet" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free/css/all.css' %}">
    <!-- select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- PreLoader CSS -->
    <link rel="stylesheet" href="{% static 'assetsop/css/style_preloader.css' %}">

    <style>

        body {
          background-color: #fff;
        }
        .f-vc{
            vertical-align: middle;
            margin-right:12px;
        }

        li{
            font-size:14px;
        }

        .rectangle{
            width:28px;
            height:28px;
            background:black;
            margin:4px;
        }

        .rectangle_empty{
            width:28px;
            height:28px;
            border: 3px solid #000;
            margin:4px;
        }

        .scrolling-wrapper {
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;

          .node {
            display: inline-block;
          }
        }
    </style>

    <link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />
    <link href="{% static 'assetsop/css/print.min.css' %}" rel="stylesheet" />
</head>
<body>

<div class="content" style="background-color:#fff;">

    <div class="page">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Danışman Değiştirme Formu</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş danışman değiştirme formu</p>
                    </div>
                    <div id="exportthis" class="card-body">
                        <!-- Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                        {% include "post/DanismanDegistirme/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci Danışman Değiştirme Formu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{% static 'assetsop/js/core/jquery.printElement.js' %}"></script>
<script src="{% static 'assetsop/js/print.min.js' %}"></script>

<script src="{% static 'assetsop/js/html2canvas.js' %}"></script>
<script src="{% static 'assetsop/js/jspdf.min.js' %}"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
-->

<script>

window.onload = function(e){
    {% if pdf == 0 %}
        PrintPP();
    {% elif pdf == 1 %}
       printPDF();
    {% endif %}
};

function PrintPP(){
    $("#exportthis").printElement({
            printBodyOptions:{
            styleToAdd:'padding:10px;margin:10px;background-color:#fff !important;'
            }
    });
}


function printPDF() {
    var cba = document.getElementById("exportthis");
    const filename  = '{{ surec.ogrenci }}-DanismanDegistirme.pdf';

    var bigCanvas = $("<div>").appendTo('body');  // This will be the 3x sized canvas we're going to render

 //   alert(cba.offsetWidth+','+cba.offsetHeight);

    var oldWidth = cba.offsetWidth;
    var oldHeight = cba.offsetHeight+50;

    cba.style.width = oldWidth+'px';
    cba.style.height = oldHeight+'px';

    var scaledElement = $("#exportthis").clone()
    .css({
      'transform': 'scale(2,2)',
      'transform-origin': '0 0'
    })
    .appendTo(bigCanvas);

    var newWidth = oldWidth * 2;
    var newHeight = oldHeight * 2;

    bigCanvas.css({
      'width': newWidth,
      'height': newHeight
    })

    var hh = cba.offsetHeight*211/cba.offsetWidth;
 //   alert(hh);

    html2canvas(bigCanvas,{scale: 1}).then(canvas => {
        let pdf = new jsPDF('p', 'mm', [210, hh+10]);
        pdf.addImage(canvas.toDataURL('image/PNG',1), 'PNG', 0, 0, 210, hh,  '', 'FAST');
        pdf.save(filename);
        bigCanvas.remove();
    });
}

function printPDF2() {
    var cba = document.getElementById("exportthis");
    const filename  = '{{ surec.ogrenci }}-DanismanForm.pdf';

    var bigCanvas = $("<div>").appendTo('body');
    var scaledElement = $("#exportthis").clone()
    .css({
      'transform': 'scale(2,2)',
      'transform-origin': '0 0'
    })
    .appendTo(bigCanvas);

    var oldWidth = cba.offsetWidth;
    var oldHeight = cba.offsetHeight+50;

    var newWidth = oldWidth * 2;
    var newHeight = oldHeight * 2;

    bigCanvas.css({
      'width': newWidth,
      'height': newHeight
    })

    var hh = cba.offsetHeight*211/cba.offsetWidth;
    alert(hh);

    var pdf = new jsPDF('p', 'mm', 'a4');

    pdf.addHTML(bigCanvas, function() {
            pdf.save('new.pdf');
            pdf.output('datauri');
        });

 //   bigCanvas.remove();
}

</script>


</body>

</html>


