{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    #id_first_name, #id_last_name{
      text-transform: uppercase;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                            <h6 class="card-category text-gray">Öğrenci</h6>
                        {% else %}
                            <h6 class="card-category text-gray">{{ user.kullaniciekbilgi.title|default:"" }}</h6>
                        {% endif %}
                        <h4 class="card-title">{{ request.user.get_full_name }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Anabilim Dalı Sekreteri Atama</h4>
                        <p class="card-category">{{ abd.adi }} Anabilim Dalı için sekreter ataması yapınız ve güncelle butonuna basınız.</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button id="savebutton" type="submit" class="btn btn-danger pull-right">Güncelle</button>
                            <a class="btn btn-danger pull-right text-white" onclick="javascript:Sil();">Sil</a>
                            <div class="clearfix"></div>
                            <h6 class="card-title"><b>Atanacak sekreter sadece görüntüleme yetkisine sahip olacaktır.
                                Aradığınız personeli bulamıyorsanız lütfen personelinizden kurumsal mail ve şifresi ile <a style="color:red;" href="http://online.lisansustu.ibu.edu.tr" target="_blank">Online LEE</a>
                                adresine giriş yapmasını ardından kullanıcı bilgilerini güncellemesini isteyiniz. Teknik sorun yaşadığınızı düşünüyorsanız enstitü ile iletişime geçiniz.</b></h6>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var savebutton = document.getElementById("savebutton");

window.onload = function(e){
    SaveSuccess();
};

function SaveSuccess(){
    mesajGonder("{{ send_message }}","top","center");
}

function Sil(){
    $('#id_sekreter').val(null).trigger('change');
    savebutton.click();
}

function mesajGonder(text, from, align){
    type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];

    color = Math.floor((Math.random() * 6) + 1);

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: type[color],
      timer: 3000,
      placement: {
        from: from,
        align: align
      }
    });
}
</script>

{% endblock %}



<!--
<section>
    <div class="container" style="padding-top:80px">

        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Kullanıcı Bilgileri</h1>
        </div>

        <div id="aspect-content">
            <p>Hoşgeldiniz {{ request.user.get_full_name }}</p><br>

            <h5>{{ user.username }}</h5>
            <h5>{{ user.first_name }}</h5>
            <h5>{{ user.last_name }}</h5>


            <a href="{% url 'logout' %}" class="app-btn wow bounceIn page-scroll home_btn_color_two"
               data-wow-delay="1.0s" ><span class="fa fa-2x fa-door-open" style="vertical-align: middle;margin-right:12px;"></span>Çıkış</a>
        </div>
    </div>
</section>

-->