{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>

a{
    color: #e33c3c;
}

a:hover{
    color: #000;
}

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:300,700,300italic'><link rel="stylesheet" href="./style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


<section>
    <div class="container" style="padding-top:120px">
        <!--<div class="home_btn">
                <a href="{% url 'home' %}" class="btn home_btn_color_two">Geri Dön</a>
            </div>
        -->
        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Eğitim Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Ana Bilim Dalları</h1>
        </div>

        <div id="content" class="col-md-12 table-responsive" style="padding:4px; background-color:#fff; margin-bottom:40px;">
            <table class="table table-bordered table-striped text-black">
                <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Anabilim Dalı</th>
                    <th>Başkanı</th>
                    <th>E-Mail</th>
                    <th>Telefon</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ post.adi }}</td>
                    <td>{{ post.baskan }}</td>
                    <td><a href="mailto:{{ post.baskan.username }}">{{ post.baskan.username }}</a></td>
                    <td>{{ post.dahilitelefon }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <button class="button btn-block" onclick='pdfindir();'>PDF Export</button>
    </div>
</section>

<script src="{% static 'assets/js/print.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

<script>

function pdfindir(){
    alert('ok');
    $("#content").print();
}

$('#cmd').click(function () {
     var options = {
            pagesplit: true
      };
      var pdf = new jsPDF('l', 'pt', 'a4');
         pdf.addHTML($("#content"), 15, 100, options, function () {
               pdf.save('pageContent2.pdf');
       });
});
</script>

{% endblock %}