{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- 1.Ana Satır -->
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                            <h6 class="card-category text-gray">Öğrenci</h6>
                        {% else %}
                            <h6 class="card-category text-gray">{{ user.kullaniciekbilgi.title|default:"" }}</h6>
                        {% endif %}
                        <h4 class="card-title">{{ request.user.get_full_name }}</h4>
                    </div>
                    {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                        <div class="card-header card-header-success" style="margin-top:24px;">
                            <h4 class="card-title text-left">Öğrenci Bilgileri</h4>
                        </div>
                        <div class="card-body text-left">
                            <h6><b>E-Posta:</b> {{ request.user.username }}</h6>
                            <h6><b>Öğrenci No:</b> {{ request.user.ogrenci.ogrencino }}</h6>
                            <h6><b>Kayıt Tarihi:</b> {{ request.user.ogrenci.ogrenicikayittarihi }}</h6>
                            <h6><b>Dönemi:</b> {{ request.user.ogrenci.get_donemi_display }}</h6>
                        </div>

                        <div class="card-header card-header-warning" style="margin-top:24px;">
                            <h4 class="card-title text-left">Program Bilgileri</h4>
                        </div>
                        <div class="card-body text-left">
                            <h6><b>Anabilim Dalı:</b> {{ request.user.ogrenci.programid.AnaBilimDaliAdi }}</h6>
                            <h6><b>Program:</b> {{ request.user.ogrenci.programid }}</h6>
                        </div>

                        <div class="card-header card-header-info" style="margin-top:24px;">
                            <h4 class="card-title text-left">Ders Programı</h4>
                        </div>
                        <div class="card-body text-left">
                            {% if dersprog %}
                                <h6><b>Son Güncelleme Tarihi:</b> {{ dersprog.tarih }}</h6>
                                <h6><b>Program Dönemi:</b> Bahar</h6>
                                <h6>
                                    <a href="{{ dersprog.dersprogrami.url }}" target="_blank">
                                    <img class="f-vc" src="{% static 'assetsop/img/file-download.png' %}"
                                         style="border-radius:10%; height:48px; width:48px; padding:2px; background-color:#fff; margin:auto;"><span style="margin-left:8px;">İndir</span>
                                    </a>
                                </h6>
                            {% else %}
                                <h6><b>Ders Programınız henüz Anabilim Dalı Başkanlığınız tarafından yüklenmemiştir.</b></h6>
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                {% if yetki_ogr == '2' or yetki_ogr == '1' %}

                {% if dns_list.count > 0 %}
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Danışman Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>Tez Danışman Adı</th>
                                    <th>Danışmanlık Türü</th>
                                    <th>Danışman Atanma Tarihi</th>
                                    <th>Durum</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dns in dns_list %}
                                <tr>
                                    <td>
                                        {% if dns.danisman %}
                                        {{ dns.danisman }}
                                        {% else %}
                                        {{ dns.ex_dns }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if dns.sureci %}
                                            {{ dns.get_atama_tur_display }}
                                        {% else %}
                                            {{ dns.get_atama_tur_display }}
                                        {% endif %}
                                    </td>
                                    <td>{{ dns.kayittarihi|date:"d/m/Y" }} - {{ dns.bitistarihi|date:"d/m/Y" }}</td>
                                    <td>{{ dns.get_durum_display }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if kdondur_list.count > 0 %}
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Kayıt Dondurma Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>İzin Adı</th>
                                    <th>Dönem Sayısı</th>
                                    <th>Kayıt Dondurma Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kd in kdondur_list %}
                                <tr>
                                    <td>{{ kd.sureci.izingerekce.izinadi }}</td>
                                    <td>{{ kd.sureci.donemcnt }}</td>
                                    <td>{{ kd.islemtarihi|date:"d/m/Y" }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if eksure_list.count > 0 %}
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Ek Süre Talep Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>İzin Adı</th>
                                    <th>Dönem Sayısı</th>
                                    <th>Ek Süre Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for eks in eksure_list %}
                                <tr>
                                    <td>Ek Süre</td>
                                    <td>1</td>
                                    <td>{{ eks.islemtarihi|date:"d/m/Y" }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% else %}
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="ChartGrafikA" style="height:150px;"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Günlük Başvuru Grafiği</h4>
                            <p class="card-category">
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- 2.Ana Satır -->
            {% if yetki_ogr != '2' and yetki_ogr != '1' %}
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons" style="font-size:48px;">how_to_reg</i>
                        </div>
                        <p class="card-category">Başvuru Sayısı</p>
                        <h3 class="card-title">{{gunlukbasvurusayisi}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i><span style="margin-top:2px;">Son 24 Saat</span>
                        </div>
                        <div class="stats">
                            <span>{{gunlukbasvurusayisidetay}}</span>
                        </div>
                    </div>
                </div>
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons" style="font-size:48px;">insights</i>
                        </div>
                        <p class="card-category">İşlem Sayısı</p>
                        <h3 class="card-title">{{gunluklogsayisi}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i><span style="margin-top:2px;">Son 24 Saat</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Yetkiler Tablosu -->
            <!--
            <div class="col-md-5">
                {% if yetki_ogr != '2' and yetki_ogr != '1' %}
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Yetkiler</h4>
                        <p class="card-category">Sistemde görevlendirildiğiniz yetkiler gösterilir.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>Yetki ID</th>
                                    <th>Yetki Adı</th>
                                    <th class="text-center" >Durum</th>
                                    <th>İşlem</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for qytip in tipler %}
                                    {% if qytip.yetki != '0' %}
                                        <tr class="{% if aktif_user_tip == qytip.id %} card-header-success {% endif %}">
                                            <td>{{ qytip.id }}</td>
                                            <td>{{ qytip.adi }}</td>
                                            {% if qytip.yetki == '1' %}
                                                <td class="text-center"> <span class="fas fa-2x fa-user-times f-vc" style="color:#fb0000;"></span></td>
                                            {% elif qytip.yetki == '2' %}
                                                <td class="text-center"> <span class="fas fa-2x fa-user-shield f-vc"></span></td>
                                            {% endif %}
                                            <td style="width:102px;">
                                                {% if aktif_user_tip == qytip.id %}

                                                {% else %}
                                                    <a href="{% url 'post:yetkidegistir' qytip.id %}" style="width:56px; padding-left:8px; padding-right:8px;">
                                                        <span class="text-black fas fa-2x fa-key f-vc" style="padding-left:8px;padding-right:8;"></span></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            -->

            <div class="col-md-9">
                {% if yetki_ogr != '2' and yetki_ogr != '1' %}
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="ChartGrafikB" style="height:150px;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Günlük İşlem Grafiği</h4>
                        <p class="card-category">
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- 3.Ana Satır -->
            <div class="col-md-5">

            </div>
            <div class="col-md-7">

            </div>
        </div>
    </div>
</div>

<script>
var username = {{ username }};
var faultcnt = {{ faultcnt }}

window.onload = function deneme(){
    initgrafikA();
    initgrafikB();

    if (faultcnt>0){
        SendLoginFaultMsg(username +" kullanıcı adı ile son başarılı giriş işleminden sonra " + faultcnt + " defa hatalı giriş olmuştur. Bilginiz dahilinde değil ise güvenlik önlemlerinizi almanız önerilir.","top","center");
    }

    if ('{{ req.user_agent.browser.family }}' == 'Safari'){
        SendLoginFaultMsg("En iyi görüntüleme için Safari kullanmamanız önerilir.","top","center");
    }

  //  alert('{{ req.user_agent.browser.family }}');

}

function SendLoginFaultMsg(text, from, align){
    color = 'danger';

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: color,
      timer: 30000,
      placement: {
        from: from,
        align: align
      }
    });
}

function initgrafikA() {
    if ($('#ChartGrafikA').length != 0) {

        dataDailySalesChart = {
            labels: [
                {% for gA in grafikA %}
                '{{ gA.tarih }}',
                {% endfor %}
            ],
            series: [[
                {% for gA in grafikA %}
                {{ gA.hit }},
                {% endfor %}
            ]]
        };

    optionsDailySalesChart = {
        lineSmooth: true,
        low: 0,
        showArea: true,
        showLabel: true,

    //    high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 20,
          right: 0,
          bottom: 0,
          left: 0
        },
    }

      var ChartA = new Chartist.Line('#ChartGrafikA', dataDailySalesChart, optionsDailySalesChart);
      md.startAnimationForLineChart(ChartA);
    }
}

function initgrafikB() {
    if ($('#ChartGrafikB').length != 0) {

        dataDailySalesChart = {
            labels: [
                {% for gB in grafikB %}
                '{{ gB.tarih }}',
                {% endfor %}
            ],
            series: [[
                {% for gB in grafikB %}
                {{ gB.hit }},
                {% endfor %}
            ]]
        };

    optionsDailySalesChart = {
        lineSmooth: true,
        labelDirection: 'neutral',
        showArea: true,
        low: 0,
    //    high: 100, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 20,
          right: 0,
          bottom: 0,
          left: 0
        },
    }

      var ChartB = new Chartist.Line('#ChartGrafikB', dataDailySalesChart, optionsDailySalesChart);
      md.startAnimationForLineChart(ChartB);
    }
}
</script>

<script src="{% static 'assetsop/js/reconnecting-websocket.js' %}"></script>
<script>
    var Socket = new ReconnectingWebSocket('ws://' + window.location.host + '/ws/post/process/');

    Socket.onopen = function(e) {
        console.error('Soket Açılmıştır.');
        ResolutionEkle();
    }

    Socket.onclose = function(e) {
        console.error('Soket Kapatılmıştır');
    };

    function ResolutionEkle(){
		Socket.send(JSON.stringify({'command': 'set_resolution', 'width':screen.width, 'height':screen.height}));
    }

</script>

{% endblock %}



<!--
<section>
    <div class="container" style="padding-top:80px">

        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Kullanıcı Bilgileri</h1>
        </div>

        <div id="aspect-content">
            <p>Hoşgeldiniz {{ request.user.get_full_name }}</p><br>

            <h5>{{ user.username }}</h5>
            <h5>{{ user.first_name }}</h5>
            <h5>{{ user.last_name }}</h5>


            <a href="{% url 'logout' %}" class="app-btn wow bounceIn page-scroll home_btn_color_two"
               data-wow-delay="1.0s" ><span class="fa fa-2x fa-door-open" style="vertical-align: middle;margin-right:12px;"></span>Çıkış</a>
        </div>
    </div>
</section>

-->