{% extends 'baseop.html' %}
{% load static %}

{% block body %}

<style>
    a {
        color: #e33c3c;
    }

    a:hover {
        color: #000;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="justify-content-center" style="display:block; margin-bottom:12px;">
                    <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
                </div>
                <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
                <h4>Lisansüstü Eğitim Enstitüsü</h4>
                <h3>Ders İçerikleri</h3>
            </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title "></h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>Sıra</th>
                                    <th>Anabilim Dalı</th>
                                    <th>Program Adı</th>
                                    <th class="text-center">Ders İçeriği</th>
                                    <th style="width:200px;">Son Güncellenme Tarihi</th>
                                    <th class="text-center" style="width:100px;">İndirme</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for icrk in icerikler %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ icrk.programid.anabilimdali.adi }}</td>
                                    <td>
                                        <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                            <li class="font-weight-bold" style="margin-bottom:4px;">{{ icrk.programid.adi }}</li>
                                            <li style="margin-bottom:4px;">{{ icrk.programid.get_prgturu_display }}</li>
                                            <li>{{ icrk.programid.get_ogrtur_display }}</li>
                                        </ul>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ icrk.get_download_url }}" target="_blank">
                                            <img class="f-vc" src="{% static 'assetsop/img/file-download.png' %}"
                                                 style="border-radius:10%; height:48px; width:48px; padding:2px; background-color:#fff; margin:auto;"><span style="margin-left:8px;">İndir</span>
                                        </a>
                                    </td>
                                    <td>{{ icrk.tarih }}</td>
                                    <td class="text-center">{{ icrk.get_down_hit }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}