{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .boxes > div{
      width: 100px;
      height:100px;
      display:inline-block;
      float:left;
      background-color: red;
      margin-right: 6px;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .isDisabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
      pointer-events: none;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="offset-md-2 col-md-8">
                <div class="card bg-warning" style="margin:4px 0;">
                    <form class="navbar-form" style="margin-left:8px; margin-right:8px; margin-top:4px; margin-bottom:8px;">
                        <div class="input-group">
                            <input type="text" value="" name="q" class="form-control" placeholder="Ara">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon" style="position:relative;top:0;right:0;">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                        <div>
                            <p>Arama yapmak için isim bilgilerini giriniz.</p>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Bulunan Kişiler</h4>
                        <p class="card-category"><b>Gösterilen Kayıt Sayısı: {{ kisiler.count }} Adet</b></p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>Bulunan Kişi</th>
                                    <th>Son İşlem Tarihi</th>
                                    <th>Yetkiler</th>
                                    <th>Kayıt Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kisi in kisiler %}
                                    <tr>
                                        {% if kisi|get_ogrenci_detay_url %}
                                            <td><a href="{{ kisi|get_ogrenci_detay_url }}">{{ kisi.fullnamewithtitle }}</a></td>
                                        {% else %}
                                            <td>{{ kisi.fullnamewithtitle }}</td>
                                        {% endif %}

                                        <td>{{ kisi|get_user_last_proc_date }}</td>
                                        <td>
                                            {% for qytip in kisi|get_user_types_wuser %}
                                                {% if qytip.yetki == '2' %}
                                                    <h5 style="margin-bottom:8px;">{{ qytip.adi }}</h5>
                                                    {% if qytip.id == 8 %}
                                                        <h5 style="margin-top:-8px;"><b>({{ kisi|get_abdbsk_name }})</b></h5>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ kisi.date_joined }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

function addParameterToURL(param){
    url = "q="+ param;
    document.location.search = url;
}

function getAll(){
    var url = window.location.href;
        url = url.split('?')[0];

    window.location.href = url;
}

</script>

{% endblock %}
