{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    #id_first_name, #id_last_name{
      text-transform: uppercase;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                            <h6 class="card-category text-gray">Öğrenci</h6>
                        {% else %}
                            <h6 class="card-category text-gray">{{ user.kullaniciekbilgi.title|default:"" }}</h6>
                        {% endif %}
                        <h4 class="card-title">{{ request.user.get_full_name }}</h4>

                        <!--
                        <h4>{{ req|get_yetki_all }}</h4>
                        <h4>{{ req|get_yetki:3 }}</h4>

                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>

                        <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                        -->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profil Bilgileri</h4>
                        <p class="card-category">Lütfen Bilgilerinizi Güncelleyiniz</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Kullanıcı Adı</label>
                                        <input id="id_username" type="text" class="form-control" name="username" value="{{ form.username.value }}" readonly>
                                    </div>
                                </div>

                                <!--
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Username</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                -->
                            </div>
                            {% if yetki_ogr != '2' and yetki_ogr != '1' %}
                                <div class="row" style="margin-bottom:16px;">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Ünvan</label>
                                            {{ formadd.title }}
                                            <!--
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Kullanıcı Adı</label>
                                                <input id="id_title" type="text" class="form-control" name="title" value="{{ formadd.title.value }}" readonly>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Adı</label>
                                        <input id="id_first_name" type="text" class="form-control" name="first_name" value="{{ form.first_name.value }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Soyadı</label>
                                        <input id="id_last_name" type="text" class="form-control" name="last_name" value="{{ form.last_name.value }}">
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Adress</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Country</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Postal Code</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <button type="submit" class="btn btn-danger pull-right">Güncelle</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var username = {{ username }};

window.onload = gelenMesajlar;

function gelenMesajlar(){
    if ({{ fillmessage }} == '1') {
        mesajGonder("Lütfen Ad-Soyad bilgilerinizi doldurunuz...!","top","center");
    }
}

function mesajGonder(text, from, align){
    type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];

    color = Math.floor((Math.random() * 6) + 1);

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: type[color],
      timer: 3000,
      placement: {
        from: from,
        align: align
      }
    });
}
</script>

{% endblock %}



<!--
<section>
    <div class="container" style="padding-top:80px">

        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Kullanıcı Bilgileri</h1>
        </div>

        <div id="aspect-content">
            <p>Hoşgeldiniz {{ request.user.get_full_name }}</p><br>

            <h5>{{ user.username }}</h5>
            <h5>{{ user.first_name }}</h5>
            <h5>{{ user.last_name }}</h5>


            <a href="{% url 'logout' %}" class="app-btn wow bounceIn page-scroll home_btn_color_two"
               data-wow-delay="1.0s" ><span class="fa fa-2x fa-door-open" style="vertical-align: middle;margin-right:12px;"></span>Çıkış</a>
        </div>
    </div>
</section>

-->