{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        {% if yetki_ogr == '2' or yetki_ogr == '1' %}
                            <h6 class="card-category text-gray">Öğrenci</h6>
                        {% else %}
                            <h6 class="card-category text-gray">{{ user.kullaniciekbilgi.title|default:"" }}</h6>
                        {% endif %}
                        <h4 class="card-title">{{ request.user.get_full_name }}</h4>


                        <!--
                        <h4>{{ req|get_yetki_all }}</h4>
                        <h4>{{ req|get_yetki:3 }}</h4>

                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>

                        <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                        -->
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Öğrenci Bilgileri</h4>
                        <p class="card-category">Lütfen Bilgilerinizi Güncelleyiniz</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formogr|crispy }}

                            <h6><b style="color:#ff0000;">Öğrenci Kayıt Tarihinizi ÜBYS`den veya E-Devletten öğrenebilirsiniz.</b></h6>
                            {% if guncellemeyetki == 2 %}
                                <button type="submit" class="btn btn-warning pull-right">Güncelle</button>
                            {% elif guncellemeyetki == 1 %}
                                <h6><b>Atama yapılmış en az 1 danışmanınız var. Öğrenci Bilgilerinizi güncellemeyemezsiniz. Bilgilerinizde yanlışlık olduğunu düşünüyorsanız lütfen Lisansüstü Eğitim Enstitüsü ile iletişime geçiniz.</b></h6>
                            {% elif guncellemeyetki == 0 %}
                                <h6><b>Değişiklik yapamayacağınız bir aşamada süreciniz vardır. Bilgilerinzde bir yanlışlık olduğunu düşünüyorsanız ilgili sürecin aşamasına bağlı kişi veya Lisansüstü Eğitim Enstitüsü ile iletişime geçiniz.</b></h6>
                            {% endif %}
                        <!--    <a class="btn" href="javascript:deneme();">Tıkla</a> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
var anabilimdal_field = document.getElementById("id_anabilimdal_field");
var programid = document.getElementById("id_programid");

var data = {{ programlist }};

window.onload = function(e){
    initAnaBilimField();
    gelenMesajlar();
};


function gelenMesajlar(){
        mesajGonder("Lütfen Öğrenci Bilgilerinizi eksiksiz ve doğru bir şekilde doldurunuz. Aksi taktirde hiç bir süreç başlatamazsınız.","top","center");
}

function mesajGonder(text, from, align){
    type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];

    color = Math.floor((Math.random() * 6) + 1);

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: type[color],
      timer: 3000,
      placement: {
        from: from,
        align: align
      }
    });
}

function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}

anabilimdal_field.onchange = AnaBilimOnChange;

function AnaBilimOnChange(){
    try{
        temp_prg_value = programid.options[programid.selectedIndex].value;
    }
    catch(err){
        console.log("Program Seçili Değil.");
        temp_prg_value = -1;
    }


    removeOptions(programid);

    ana_key = anabilimdal_field.options[anabilimdal_field.selectedIndex].value;


    for(i=0;i<data.length;i++){
        if (data[i].abdid == ana_key) {
            var option = document.createElement("option");
            option.text = data[i].adi;
            option.value = data[i].id;
            programid.add(option);
        }
    }

    if (programid.options[programid.selectedIndex].value != 'undefined'){
        var L = programid.options.length - 1;
        for(i = L; i >= 0; i--) {
            if (temp_prg_value == programid.options[i].value) {
                programid.options[i].selected = true;
            }
        }
    }
}

function initAnaBilimField(){
    try{
        prg_key = programid.options[programid.selectedIndex].value;

        for(i=0;i<data.length-1;i++){
            if (data[i].id == prg_key) {
                for(j=0;j<anabilimdal_field.options.length;j++){
                    if (data[i].abdid == anabilimdal_field.options[j].value){
                        anabilimdal_field.options.selectedIndex = j;
                    }
                }
            }
        }
        AnaBilimOnChange();
    }
    catch(err){
        console.log("Program Seçili Değil.");
    }
}


function handleKeyPressPass(text, from, align){
    type = ['', 'info', 'danger', 'success', 'warning', 'rose', 'primary'];

    color = Math.floor((Math.random() * 6) + 1);

    $.notify({
      icon: "add_alert",
      message: text

    }, {
      type: type[color],
      timer: 3000,
      placement: {
        from: from,
        align: align
      }
    });
}


</script>

{% endblock %}



<!--
<section>
    <div class="container" style="padding-top:80px">

        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Kullanıcı Bilgileri</h1>
        </div>

        <div id="aspect-content">
            <p>Hoşgeldiniz {{ request.user.get_full_name }}</p><br>

            <h5>{{ user.username }}</h5>
            <h5>{{ user.first_name }}</h5>
            <h5>{{ user.last_name }}</h5>


            <a href="{% url 'logout' %}" class="app-btn wow bounceIn page-scroll home_btn_color_two"
               data-wow-delay="1.0s" ><span class="fa fa-2x fa-door-open" style="vertical-align: middle;margin-right:12px;"></span>Çıkış</a>
        </div>
    </div>
</section>

-->