{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="{% static 'assetsop/img/user.png' %}" />
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Öğrenci</h6>
                        <h4 class="card-title">{{ ogr.user.get_full_name }}</h4>
                    </div>

                    <div class="card-header card-header-success" style="margin-top:24px;">
                        <h4 class="card-title text-left">Öğrenci Bilgileri</h4>
                    </div>
                    <div class="card-body text-left">
                        <h6><b>E-Posta:</b> {{ ogr.user.username }}</h6>
                        <h6><b>Öğrenci No:</b> {{ ogr.user.ogrenci.ogrencino }}</h6>
                        <h6><b>Kayıt Tarihi:</b> {{ ogr.user.ogrenci.ogrenicikayittarihi }}</h6>
                        <h6><b>Dönemi:</b> {{ ogr.user.ogrenci.get_donemi_display }}</h6>
                    </div>

                    <div class="card-header card-header-warning" style="margin-top:24px;">
                        <h4 class="card-title text-left">Program Bilgileri</h4>
                    </div>
                    <div class="card-body text-left">
                        <h6><b>Anabilim Dalı:</b> {{ ogr.user.ogrenci.programid.AnaBilimDaliAdi }}</h6>
                        <h6><b>Program:</b> {{ ogr.user.ogrenci.programid }}</h6>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Danışman Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th style="width:25%">Tez Danışman Adı</th>
                                    <th style="width:30%">Danışmanlık Türü</th>
                                    <th style="width:30%">Danışman Atanma Tarihi</th>
                                    <th style="width:15%">Durum</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dns in dns_list %}
                                <tr>
                                    <td>{{ dns.danisman }}</td>
                                    <td>
                                        {% if dns.sureci %}
                                        {{ dns.sureci.get_atama_tur_display }}
                                        {% else %}
                                        {{ dns.get_atama_tur_display }}
                                        {% endif %}
                                    </td>
                                    <td>{{ dns.kayittarihi|date:"d/m/Y" }}</td>
                                    <td>{{ dns.get_durum_display }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Kayıt Dondurma Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th style="width:25%">İzin Adı</th>
                                    <th style="width:30%">Dönem Sayısı</th>
                                    <th style="width:30%">Kayıt Dondurma Tarihi</th>
                                    <th style="width:15%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kd in kdondur_list %}
                                <tr>
                                    <td>{{ kd.sureci.izingerekce.izinadi }}</td>
                                    <td>{{ kd.sureci.donemcnt }}</td>
                                    <td>{{ kd.islemtarihi|date:"d/m/Y" }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Ek Süre Talep Bilgileri</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th style="width:25%">İzin Adı</th>
                                    <th style="width:30%">Dönem Sayısı</th>
                                    <th style="width:30%">Ek Süre Tarihi</th>
                                    <th style="width:15%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for eks in eksure_list %}
                                <tr>
                                    <td>Ek Süre</td>
                                    <td>1</td>
                                    <td>{{ eks.islemtarihi|date:"d/m/Y" }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Devam Eden Süreçler</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th style="width:25%">Süreç Adı</th>
                                    <th style="width:30%">AşamaNo</th>
                                    <th style="width:30%">İlgili Birim</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for src in surecler %}
                                <tr>
                                    <td>{{ src.surecadi }}</td>
                                    <td>Aşama {{ src.asamano }}</td>
                                    <td>{{ src.ilgilibirim }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
