{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>
    body {
      background-color: #6fcae7;
      overflow-y: scroll;
      overflow-x: hidden;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:300,700,300italic'><link rel="stylesheet" href="./style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


<section>
    <div class="container" style="padding-top:80px">
        <!--<div class="home_btn">
                <a href="{% url 'home' %}" class="btn home_btn_color_two">Geri Dön</a>
            </div>
        -->
        <div class="text-center">
            <div class="col-md-12 col-xs-12 justify-content-center" style="display:block; margin-bottom:12px;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
            </div>
            <h3>Bolu Abant İzzet Baysal Üniversitesi</h3>
            <h4>Lisansüstü Enstitüsü</h4>
        </div>

        <div class="text-center">
            <h1 style="color:#000">Programlar</h1>
        </div>

        <div class="col-md-12 table-responsive" style="padding:4px; background-color:#fff; margin-bottom:40px;">
            <table class="table table-bordered table-striped text-black">
                <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Anabilim Dalı</th>
                    <th>Program Adı</th>
                    <th>Program Türü</th>
                    <th>Öğrenim Dili</th>
                    <th>Öğrenim Türü</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ post.anabilimdali.adi }}</td>
                    <td>{{ post.adi }}</td>
                    <td>{{ post.get_prgturu_display }}</td>
                    <td>{{ post.get_ogrtur_display }}</td>
                    <td>{{ post.get_ogrdil_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}