{% extends 'baseop.html' %}
{% load static %}

{% block body %}

<style>
    a {
        color: #e33c3c;
    }

    a:hover {
        color: #000;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Online Lisansüstü Sistemi - Versiyon Logları</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        {% for log in logs %}
                            <h4><b>{{ log.islemtarihi }} - v{{ log }}</b></h4>
                            <p>{{ log.aciklama|linebreaks  }}</p>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}