{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .node {
        display: inline-block;
      }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />


<div class="content">

    <div class="offset-md-1 col-md-10" style="margin-top:56px;">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Öneri - İstek - Destek Talep</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body" style="margin-top:18px;">
                <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6><b>Kullanıcı: </b>{{ request.user }}</h6>
                    {{ form|crispy }}

                    <h6 style="margin-top:24px;"><b>Açıklama: </b></h6>
                    <div style="border: 1px solid #000; border-radius:10px;">
                        <div style="margin:12px;">
                            {{ form.aciklama|as_crispy_field }}
                        </div>
                    </div>

                    <button id="savebutton" type="submit" class="btn btn-danger pull-right">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){

};
</script>

{% endblock %}
