{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .boxes > div{
      width: 100px;
      height:100px;
      display:inline-block;
      float:left;
      background-color: red;
      margin-right: 6px;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .isDisabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
      pointer-events: none;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
                        <div class="offset-md-2 col-md-8">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Ders Programı Güncelle</h4>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h5><b>Program Adı:</b> {{ dersprog.programid }}</h5>
                            {{ form.dersprogrami }}
                            <br>
                            <hr>
                            <p style="color:#ff0000;"><b>*Yükleyeceğiniz dosya enstitünün belirlediği Excel formatındaki
                                <a href="{% static 'assetsop/doc/haftalik_program_sablonu.xls' %}">şablon dosyası</a> olmalıdır.</b></p>
                            <button type="submit" class="btn btn-warning pull-right text-white"><span class="fas fa-2x fa-pen-square f-vc"></span>Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
var programid = document.getElementById("id_programid");

var data = {{ programlist }};

window.onload = function(e){
    initProgramIDField();
};

function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}

function initProgramIDField(){

    removeOptions(programid);

    for(i=0;i<data.length;i++){
        var option = document.createElement("option");
        option.text = data[i].adi;
        option.value = data[i].id;
        programid.add(option);
    }
}

</script>


{% endblock %}
