{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />


<div class="content">
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Öğrenci Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş ikinci tez danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                        {% include "post/Danisman2Atama/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Tez Danışmanı - Aşama 2</h4>
                        <p class="card-category">Tez Danışmanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Tez Danışmanı:</b> {{ surec.tez_danisman.user.fullnamewithtitle }}</h6>
                        <h6><b>Açıklama:</b> {{ surec.tez_danisman_red_grk|default:"---" }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:2 }}</h6>

                        {% if surec.tez_danisman_onay %}
                        <div class="card-header-success" style="width:150px; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-check f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">Onaylandı</h4></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="card-header-danger" style="width:180; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-times f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">ONAYLANMADI</h4></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Anabilim Dalı Başkanı - Aşama 3</h4>
                        <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s3.fullnamewithtitle }}</h6>
                        <h6><b>ADAK Karar No:</b> {{ surec.adak_karar_no }}</h6>
                        <h6><b>ADAK Karar Tarihi:</b> {{ surec.adak_karar_tar }}</h6>
                        {% if surec.ex_uni %}
                            <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.yeni_dns }}</h6>
                        {% else %}
                            {% if surec.aday_2danisman %}
                                <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.aday_2danisman }}</h6>
                            {% endif %}
                        {% endif %}
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:3 }}</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Önerilen Danışman Atama Formu - Aşama 4</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Danışman tarafından doldurulmuş Danışman Atama Formu -->
                        {% include "post/Danisman2Atama/doldurulmus_form_dns.html" %}
                        <!-- End Danışman tarafından doldurulmuş Danışman Atama Formu -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Anabilim Dalı Başkanı - Aşama 5</h4>
                        <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s5.fullnamewithtitle }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:5 }}</h6>
                    </div>
                </div>
            </div>

            <div id="asamano6" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Enstitü Sekreteri - Aşama 6</h4>
                        <p class="card-category">Lütfen Gerekli Bilgilerinizi Giriniz ve Onaylayınız</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div style="margin-bottom:32px;">
                                <h6><b>Enstitü Sekreteri:</b> {{ surec.yonetici.user.fullnamewithtitle }}</h6>
                            </div>

                            <div id="div_id_yonetici_onay" class="checkbox" style="margin-top:24px;">
                                <label for="id_yonetici_onay" class="toggle">
                                    <input type="checkbox" name="yonetici_onay" class="toggle__input checkboxinput" id="id_yonetici_onay" onclick='OnayCheckClick(this);'>
                                    <span class="checkbox-decorator toggle__label"><span class="check toggle__text">Enstitü Sekreteri olarak onaylıyorum</span></span>
                                </label>
                            </div>

                            <div style="margin-top:24px;">
                                <a class="btn btn-danger pull-right" style="color:#fff;" href="{{ surec.get_surec_geri_url }}">Geri Gönder</a>
                                <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/Danisman2Atama/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
    </div>
</div>


<script>
var yonetici_onay = document.getElementById("id_yonetici_onay");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){
    OnayCheckClick(yonetici_onay);
    setTimeout(function(){ jumpto('asamano6'); }, 500);
};

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}
</script>
{% endblock %}