{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />


<div class="content">
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Öğrenci Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş ikinci tez danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                        {% include "post/Danisman2Atama/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Tez Danışmanı - Aşama 2</h4>
                        <p class="card-category">Tez Danışmanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Tez Danışmanı:</b> {{ surec.tez_danisman.user.fullnamewithtitle }}</h6>
                        <h6><b>Açıklama:</b> {{ surec.tez_danisman_red_grk|default:"---" }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:2 }}</h6>

                        {% if surec.tez_danisman_onay %}
                        <div class="card-header-success" style="width:150px; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-check f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">Onaylandı</h4></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="card-header-danger" style="width:180; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-times f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">ONAYLANMADI</h4></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Anabilim Dalı Başkanı - Aşama 3</h4>
                        <p class="card-category">Anabilim Dalı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s3.fullnamewithtitle }}</h6>
                        <h6><b>ADAK Karar No:</b> {{ surec.adak_karar_no }}</h6>
                        <h6><b>ADAK Karar Tarihi:</b> {{ surec.adak_karar_tar }}</h6>
                        {% if surec.ex_uni %}
                            <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.yeni_dns }}</h6>
                        {% else %}
                            {% if surec.aday_2danisman %}
                                <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.aday_2danisman }}</h6>
                            {% endif %}
                        {% endif %}
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:3 }}</h6>
                    </div>
                </div>
            </div>

            <div id="asamano4" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Önerilen Danışman Atama Formu - Aşama 4</h4>
                        <p class="card-category">Lütfen Danışman Atama Formunu doldurunuz</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="return SubmitFunction();" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li>
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
                                        <li style="flex-basis:15%;">
                                            <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
                                        </li>
                                        <li class="text-center font-weight-bold" style="flex-basis:85%;">
                                            <h4 class="font-weight-bold">T.C.</h4>
                                            <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                                            <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                                            {% if surec.programid.prgturu == 1 %}
                                            <h4 class="font-weight-bold">YÜKSEK LİSANS TEZ DANIŞMANI ATAMA FORMU</h4>
                                            {% endif %}
                                            {% if surec.programid.prgturu == 2 %}
                                            <h4 class="font-weight-bold">DOKTARA TEZ DANIŞMANI ATAMA FORMU</h4>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Ana Bilim Dalı/Programı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid.AnaBilimDaliVeProgram }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Program Türü</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid.ProgramTuruAdi }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.getfullname }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrencino }}</li>
                                    </ul>
                                </li>

                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">İkinci Tez Danışmanı</li>
                                        {% if surec.ex_uni %}
                                            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.yeni_dns }}</li>
                                        {% else %}
                                            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.aday_2danisman }}</li>
                                        {% endif %}
                                    </ul>
                                </li>

                                <li style="margin-top:12px;border: 1px solid #000;">
                                    <h5 class="text-center font-weight-bold" style="font-weight: bold;margin-bottom:0;">ATANMASI ÖNERİLEN TEZ DANIŞMANI BİLGİLERİ</h5>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                                            <div class="justify-content-center align-items-center" style="display:flex;">Danışman Türü</div>
                                        </li>
                                        <li style="border: 1px solid #000; flex-basis:70%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:33%; display:flex;">
                                                    <div class="{% if surec.atama_tur == 0 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                                                    <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px;">Tez Danışmanı</div>
                                                </li>
                                                <li style="flex-basis:33%; display:flex;">
                                                    <div class="{% if surec.atama_tur == 1 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                                                    <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px;">İkinci Tez Danışmanı</div>
                                                </li>
                                                <li style="flex-basis:34%; display:flex;">
                                                    <div class="{% if surec.atama_tur == 2 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                                                    <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px;">Proje Danışmanı</div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% if surec.programid.prgturu == 1 or surec.programid.prgturu == 2 %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;display:block;">
                                            <div class="justify-content-center align-items-center" style="vertical-align:middle;margin:auto;">

                                                {% if surec.programid.prgturu == 1 %} <!-- Tezli -->
                                                    {% if surec.atama_tur == 0 %}  <!-- 1.Tez Danışmanı -->
                                                        <h6 style="font-weight: bold;">Tez Danışmanı*</h6>
                                                    {% endif %}
                                                    {% if surec.atama_tur == 1 %} <!-- 2.Tez Danışmanı -->
                                                        <h6 style="font-weight: bold;">İkinci Tez Danışmanı*</h6>
                                                    {% endif %}
                                                    <p>Ders verilen son iki dönemive hangi üniversitede verildiği bilgisini yazınız.*</p>
                                                {% endif %}

                                                {% if surec.programid.prgturu == 2 %} <!-- Doktora -->
                                                    {% if surec.atama_tur == 0 %}  <!-- 1.Tez Danışmanı -->
                                                        <h6 style="font-weight: bold;">Tez Danışmanı*</h6>
                                                    {% endif %}
                                                    {% if surec.atama_tur == 1 %} <!-- 2.Tez Danışmanı -->
                                                        <h6 style="font-weight: bold;">İkinci Tez Danışmanı*</h6>
                                                    {% endif %}
                                                    <p>Verdi ise lisans için son dört dönemi/yüksek lisans için son iki dönemini ve hangi üniversitede verildiği bilgisini yazınız.</p>
                                                {% endif %}

                                            </div>
                                        </li>
                                        <li style="flex-basis:70%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">

                                                {% if surec.programid.prgturu == 1 %}
                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son1yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son1yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son1donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                {{ formaday.son1uni|as_crispy_field  }}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son2yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son2yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son2donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                {{ formaday.son2uni|as_crispy_field  }}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endif %}

                                                {% if surec.programid.prgturu == 2 %}
                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son1yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son1yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son1donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        {{ formaday.son1uni|as_crispy_field  }}
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son1lsn|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son2yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son2yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son2donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        {{ formaday.son2uni|as_crispy_field  }}
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son2lsn|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son3yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son3yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son3donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        {{ formaday.son3uni|as_crispy_field  }}
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son3lsn|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li>
                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son4yilbas|as_crispy_field  }}
                                                                            </li>
                                                                            <li style="flex-basis:10%;"><h5 class="text-center">/</h5></li>
                                                                            <li style="flex-basis:40%;">
                                                                                {{ formaday.son4yilson|as_crispy_field  }}
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son4donem|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                                    <li>
                                                                        {{ formaday.son4uni|as_crispy_field  }}
                                                                    </li>
                                                                    <li>
                                                                        {{ formaday.son4lsn|as_crispy_field  }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if surec.programid.prgturu == 2 %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                                            <div class="justify-content-center align-items-center" style="display:flex;">En son yönetilen tezin bitirme tarihi ve hangi üniversitede yönetildiğibilgisini yazınız.</div>
                                        </li>
                                        <li style="flex-basis:70%;">

                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                <li style="border: 1px solid #000;">
                                                    {{ formaday.tezbittar|as_crispy_field  }}
                                                </li>
                                                <li style="border: 1px solid #000;">
                                                    {{ formaday.tezbituni|as_crispy_field  }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if surec.atama_tur == 1 %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                                            <div class="justify-content-center align-items-center" style="display:flex;">İkinci Danışman atanma gerekçesini yazınız</div>
                                        </li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ formaday.ikinci_dns_atama_grk|as_crispy_field  }}</li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                                            <div class="justify-content-center align-items-center" style="display:flex;">Uzmanlık alanını bilgisi yazınız</div>
                                        </li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ formaday.uzmanlik|as_crispy_field  }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="border: 1px solid #000; flex-basis:30%; padding-left:8px;display:block;">
                                            <div style="vertical-align:middle;margin:auto;">
                                                <p>Öğretim Üyesinin Tez Danışmanlık Yaptığı Öğrenci Sayısı**</p>
                                            </div>
                                        </li>
                                        <li style="flex-basis:70%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:33%;"> <!-- Yüksek Lisans -->
                                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                        <li style="border: 1px solid #000;">
                                                            <h5 class="text-center" style="margin-bottom:0;"><small>Yüksek Lisans</small></h5>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Devam Eden</small></h5>
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.YLDE|as_crispy_field }}
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.YLAO|as_crispy_field }}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li style="flex-basis:33%;"> <!-- Doktora -->
                                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                        <li style="border: 1px solid #000;">
                                                            <h5 class="text-center" style="margin-bottom:0;"><small>Doktora</small></h5>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Devam Eden</small></h5>
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.DRDE|as_crispy_field }}
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.DRAO|as_crispy_field }}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li style="flex-basis:34%;"> <!-- ikinci Danışmanlık -->
                                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                        <li style="border: 1px solid #000;">
                                                            <h5 class="text-center" style="margin-bottom:0;"><small>İkinci Danışmanlık</small></h5>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Devam Eden</small></h5>
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li style="">
                                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.YL2DE|as_crispy_field }}
                                                                </li>
                                                                <li style="border: 1px solid #000;flex-basis:50%;">
                                                                    {{ formaday.YL2AO|as_crispy_field }}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                {% if surec.programid.prgturu == 1 %}
                                <li style="text-align:justify;margin-top:12px;font-size:11pt;margin-left:24px;margin-right:24px;">
                                    *Bir öğretim üyesinin danışman olarak atanabilmesi için en az iki yarıyıl bir lisans programında ders vermiş olması <b>gerekmektedir.</b>
                                </li>
                                {% endif %}

                                {% if surec.programid.prgturu == 2 %}
                                <li style="text-align:justify;margin-top:12px;font-size:11pt;margin-left:24px;margin-right:24px;">
                                    *Bir öğretim üyesinin danışman olarak atanabilmesi için <b>en az dört yarıyıl bir lisans</b> veya <b>en az
                                    iki yarıyıl yüksek lisans</b> programında ders vermiş olması ve başarı ile tamamlanmış en az bir yüksek lisans tezi yönetmiş olması gerekmektedir.
                                </li>
                                {% endif %}

                                <li style="text-align:justify;font-size:11pt;margin-left:24px;margin-right:24px;">
                                    **Tezli YL ve Dr için öğretim üyesi başına düşen tez danışmanlığı en fazla 14’dir (İki adet ikinci danışmanlık bir danışmanlık sayılır).
                                </li>

                                <li class="font-weight-bold" style="margin-left:24px;margin-top:12px;font-size:11pt;">
                                    Danışman olarak yukarıdaki formu eksiksiz doldurduğumu onaylıyorum.
                                </li>
                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="flex-basis:50%;">

                                        </li>
                                        <li style="flex-basis:50%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                <li class="font-weight-bold text-center">
                                                    <div id="div_id_aday_2danisman_onay" class="checkbox">
                                                        <label for="id_aday_2danisman_onay" class="toggle">
                                                            <input type="checkbox" name="aday_2danisman_onay" class="toggle__input checkboxinput" id="id_aday_2danisman_onay" onclick='OnayCheckClick(this);'>
                                                            <span class="checkbox-decorator toggle__label"><span class="check toggle__text"></span></span>
                                                        </label>
                                                    </div>
                                                    <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                           background-color: transparent;">
                                                </li>
                                                <li class="font-weight-bold text-center" >{{ surec.aday_2danisman }}</li>
                                                <li class="font-weight-bold text-center" >{{ 0|getdate }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li style="margin-top:24px;">
                                    <a class="btn btn-danger pull-right" style="color:#fff;" href="{{ surec.get_surec_geri_url }}">Geri Gönder</a>
                                    <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/Danisman2Atama/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
    </div>
</div>

<script>
var aday_danisman_onay = document.getElementById("id_aday_2danisman_onay");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
        var YLDE = document.getElementById("id_YLDE");
        var YLAO = document.getElementById("id_YLAO");
        var DRDE = document.getElementById("id_DRDE");
        var DRAO = document.getElementById("id_DRAO");
        var YL2DE = document.getElementById("id_YL2DE");
        var YL2AO = document.getElementById("id_YL2AO");

        cnt = YLDE.value + YLAO.value + DRDE.value + DRAO.value + YL2DE.value + YL2AO.value;

        if (cnt == 0){
        alert('Öğretim Üyesinin Tez Danışmanlık Yaptığı Öğrenci Sayısı alanlarını doldurunuz.');
        savebutton.disabled = false;
        return false;
    }else{
        savebutton.disabled = true;
        return true;
    }
}

window.onload = function(e){
    OnayCheckClick(aday_danisman_onay);
    setRequiredFields();
    setTimeout(function(){ jumpto('asamano4'); }, 500);
};

function setRequiredFields(){
    var firstdns_YL =  ["son1yilbas",
                        "son1yilson",
                        "son1donem",
                        "son1uni",

                        "son2yilbas",
                        "son2yilson",
                        "son2donem",
                        "son2uni",

                        "uzmanlik",

                        "YLDE",
                        "YLAO",
                        "DRDE",
                        "DRAO",
                        "YL2DE",
                        "YL2AO"];

    var seconddns_YL = ["son1yilbas",
                        "son1yilson",
                        "son1donem",
                        "son1uni",

                        "son2yilbas",
                        "son2yilson",
                        "son2donem",
                        "son2uni",

                        "ikinci_dns_atama_grk",
                        "uzmanlik",

                        "YLDE",
                        "YLAO",
                        "DRDE",
                        "DRAO",
                        "YL2DE",
                        "YL2AO"];

    var firstdns_DOK = ["son1yilbas",
                        "son1yilson",
                        "son1donem",
                        "son1uni",
                        "son1lsn",

                        "son2yilbas",
                        "son2yilson",
                        "son2donem",
                        "son2uni",
                        "son2lsn",

                        "son3yilbas",
                        "son3yilson",
                        "son3donem",
                        "son3uni",
                        "son3lsn",

                        "son4yilbas",
                        "son4yilson",
                        "son4donem",
                        "son4uni",
                        "son4lsn",

                        "tezbittar",
                        "tezbituni",

                        "uzmanlik",
                        "YLDE",
                        "YLAO",
                        "DRDE",
                        "DRAO",
                        "YL2DE",
                        "YL2AO"];

    var seconddns_DOK = ["son1yilbas",
                        "son1yilson",
                        "son1donem",
                        "son1uni",
                        "son1lsn",

                        "son2yilbas",
                        "son2yilson",
                        "son2donem",
                        "son2uni",
                        "son2lsn",

                        "son3yilbas",
                        "son3yilson",
                        "son3donem",
                        "son3uni",
                        "son3lsn",

                        "son4yilbas",
                        "son4yilson",
                        "son4donem",
                        "son4uni",
                        "son4lsn",

                        "tezbittar",
                        "tezbituni",
                        "ikinci_dns_atama_grk",
                        "uzmanlik",

                        "YLDE",
                        "YLAO",
                        "DRDE",
                        "DRAO",
                        "YL2DE",
                        "YL2AO"];

    {% if surec.programid.prgturu == 1 %}
        {% if surec.atama_tur == 0 %}
            for (i = 0; i < firstdns_YL.length; i++) {
                document.getElementById("id_"+firstdns_YL[i]).required = true;
            }
        {% endif %}

        {% if surec.atama_tur == 1 %}
            for (i = 0; i < seconddns_YL.length; i++) {
                document.getElementById("id_"+seconddns_YL[i]).required = true;
            }
        {% endif %}
    {% endif %}

    {% if surec.programid.prgturu == 2 %}
        {% if surec.atama_tur == 0 %}
            for (i = 0; i < firstdns_DOK.length; i++) {
                document.getElementById("id_"+firstdns_DOK[i]).required = true;
            }
        {% endif %}

        {% if surec.atama_tur == 1 %}
            for (i = 0; i < seconddns_DOK.length; i++) {
                document.getElementById("id_"+seconddns_DOK[i]).required = true;
            }
        {% endif %}
    {% endif %}

}

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}

</script>

{% endblock %}