{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .node {
        display: inline-block;
      }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />


<div class="content">
    <div class="offset-md-1 col-md-10" style="margin-top:56px;">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Aşama Geçiş Durumu</h4>
                <p class="card-category">Hangi aşamada olduğunuz bilgisi verilmektedir</p>
                <p class="card-category"></p>
            </div>
            <div class="scrolling-wrapper card-body" id="card-body-area" style="margin-top:18px;">
                <div class="node multi-step numbered">
                    <ul class=" multi-step-list" id="multi-step-area">
                        {% comment %}
                        <li class="multi-step-item current">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Danışman</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Enstitü Sekreteri</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci İşleri</p>
                            </div>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="offset-md-1 col-md-10" style="margin-top:56px;">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Danışman Atama - Geri Aşama Gönder</h4>
                <p class="card-category">Lütfen bir önceki aşamaya göndermeden önce açıklama giriniz</p>
            </div>
            <div class="card-body" style="margin-top:18px;">
                <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6><b>Şimdiki Aşama: </b>{{ surec.get_asamaadi }}</h6>
                    <h6><b>Önceki Aşama: </b>{{ onceki_asama_adi }}</h6>

                    <h6 style="margin-top:24px;"><b>Açıklama: </b></h6>
                    <div style="border: 1px solid #000; border-radius:10px;">
                        <div style="margin:12px;">
                            {{ form.aciklama|as_crispy_field }}
                        </div>
                    </div>

                    <button id="savebutton" type="submit" class="btn btn-danger pull-right">Geri Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
var msa = document.getElementById("multi-step-area");
var cba = document.getElementById("card-body-area");
var savebutton = document.getElementById("savebutton");

function SubmitFunction(){
    savebutton.disabled = true;
}

var data = {{ asamalar }};
var poscurTag;

window.onload = function(e){
    setAsamaDurum();
};

function setAsamaDurum(){
    for(i=0;i<data.length;i++){

        if (data[i].asamano < {{ surec.asamaid.asamano }}){
            var liTag = document.createElement("li");
            liTag.className = 'multi-step-item';
        } else {
            if (data[i].asamano == {{ surec.asamaid.asamano }}) {
                var liTag = document.createElement("li");
                liTag.className = 'multi-step-item current';
            } else {
                if (data[i].asamano > {{ surec.asamaid.asamano }}) {
                    var liTag = document.createElement("li");
                    liTag.className = 'multi-step-item';
                }
            }
        }

        divTag = document.createElement("div");
        divTag.className = 'item-wrap';
        divTag.style.display = 'flex';

        pTag = document.createElement("p");
        pTag.className = 'item-title align-items-center text-center';
        pTag.style.display = "flex";
        pTag.textContent = data[i].adi

        divTag.appendChild(pTag);
        liTag.appendChild(divTag);
        msa.appendChild(liTag);

        if (data[i].asamano == {{ surec.asamaid.asamano }}) {
            poscurTag = liTag;
        }
    }
    //(poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20)/2 - (cba.offsetWidth-20)/2 + poscurTag.offsetWidth/2;
    cba.scrollLeft = (poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20) + poscurTag.offsetWidth/2;
}
</script>

{% endblock %}
