{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}


<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .node {
        display: inline-block;
      }
    }

</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_step.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/print.min.css' %}" rel="stylesheet" />


<div class="content">

    <div id="toppage" class="offset-md-3 col-md-6">
        <div class="card card-profile">
            <div class="card-avatar">
                <img class="img" src="{% static 'assetsop/img/user.png' %}" />
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">Öğrenci</h6>
                <h4 class="card-title">{{ surec.ogrenci.getfullname }}</h4>
            </div>
            <div class="card-header card-header-success" style="margin-top:24px;">
                <h4 class="card-title text-left">Öğrenci Bilgileri</h4>
            </div>
            <div class="card-body text-left">
                <h6><b>E-Posta:</b> {{ surec.ogrenci.user.username }}</h6>
                <h6><b>Öğrenci No:</b> {{ surec.ogrenci.ogrencino }}</h6>
                <h6><b>Kayıt Tarihi:</b> {{ surec.ogrenci.ogrenicikayittarihi }}</h6>
                <h6><b>Dönemi:</b> {{ surec.ogrenci.get_donemi_display }}</h6>
            </div>

            <div class="card-header card-header-warning" style="margin-top:24px;">
                <h4 class="card-title text-left">Program Bilgileri</h4>
            </div>
            <div class="card-body text-left">
                <h6><b>Anabilim Dalı:</b> {{ surec.ogrenci.programid.AnaBilimDaliAdi }}</h6>
                <h6><b>Program:</b> {{ surec.ogrenci.programid }}</h6>
                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.ogrenci.programid.anabilimdali.baskan.fullnamewithtitle }}</h6>
            </div>
        </div>
    </div>


    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Aşama Geçiş Durumu</h4>
                <p class="card-category"></p>
            </div>
            <div class="scrolling-wrapper card-body" id="card-body-area" style="margin-top:18px;">
                <div class="node multi-step numbered">
                    <ul class="multi-step-list" id="multi-step-area">
                        {% comment %}
                        <li class="multi-step-item current">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Danışman</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Anabilim Dalı Başkanı</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Enstitü Sekreteri</p>
                            </div>
                        </li>
                        <li class="multi-step-item">
                            <div class="item-wrap" style="display:flex;">
                                <p class="item-title align-items-center text-center" style="display:flex;">Öğrenci İşleri</p>
                            </div>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Aşama Geçiş Mesaj ve Kayıtları</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body" style="margin-top:18px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-warning">
                        <tr>
                            <th>Sıra</th>
                            <th>Geçiş Bilgisi</th>
                            <th>Gönderen</th>
                            <th>Açıklama</th>
                        </tr>
                        </thead>
                        <tbody style="font-size:12px;">
                        {% for log in surec_logs %}
                        <tr class="{% if log.yon == 1 %} card-header-success {% endif %}{% if log.yon == -1 %} card-header-rose {% endif %}">
                            <td style="width:28px;">{{ forloop.counter }}</td>
                            <td>
                                <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                    <li class="font-weight-bold" style="margin-bottom:4px;">{{ log.tarih }}</li>
                                    <li>
                                        {% if log.yon == 1 %}
                                            <ul style="padding-left:0; padding-top:0px; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:40%;">{{ log.onceki_asamaid.asamano }}-{{ log.onceki_asamaid.get_asamaadi }}</li>
                                                <li style="flex-basis:10%;"><span class="fas fa-angle-double-right f-vc"></span></li>
                                                <li style="flex-basis:40%;">{{ log.hedef_asamaid.asamano }}-{{ log.hedef_asamaid.get_asamaadi }}</li>
                                            </ul>
                                        {% endif %}
                                        {% if log.yon == -1 %}
                                            <ul style="padding-left:0; padding-top:0px; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:40%;">{{ log.hedef_asamaid.asamano }}-{{ log.hedef_asamaid.get_asamaadi }}</li>
                                                <li style="flex-basis:10%;"><span class="fas fa-angle-double-left f-vc"></span></li>
                                                <li style="flex-basis:40%;">{{ log.onceki_asamaid.asamano }}-{{ log.onceki_asamaid.get_asamaadi }}</li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                </ul>
                            </td>
                            <td>{{ log.procuser.fullnamewithtitle }}</td>
                            <td style="width:200px;">{{ log.aciklama|default:""}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if surec.durum == 0 %}
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header card-header-dark">
                    <h4 class="card-title" style="color:#000;">Süreç İptali Hakkında</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body" style="margin-top:18px;">
                    <h6><b>İptal Eden:</b> {{ surec.iptaluser.fullnamewithtitle }}</h6>
                    <h6><b>İptal Sebebi:</b> {{ surec.iptalaciklama|default:"---" }}</h6>
                    <h6><b>İptal Tarihi:</b> {{ surec.iptaltarih }}</h6>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="page">
        <div class="row">

            <div id="asamano1" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Öğrenci Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş ikinci tez danışman tercih formu</p>
                    </div>
                    <div id="exportthis" class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                        {% include "post/Danisman2Atama/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->

                        <div style="margin-top:12px;">
                            <a class="btn btn-danger pull-right" href="{% url 'post:danisman_2atama_print_ogrform' surecid=surec.id pdf=0 %}" target="_blank">
                                <span class="fas fa-2x fa-print f-vc"></span>Yazdır</a>
                            <a class="btn btn-danger pull-right" href="{% url 'post:danisman_2atama_print_ogrform' surecid=surec.id pdf=1 %}" target="_blank">
                                <span class="fas fa-2x fa-print f-vc"></span>PDF İndir</a>
                        </div>

                    </div>
                </div>
            </div>


            {% if req|get_yetki_wa:1 == '0' %} <!-- Öğrenci DEĞİL ise tüm süreçleri görebilsin -->

                {% if surec.asamaid.asamano > 2 %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Tez Danışmanı - Aşama 2</h4>
                                <p class="card-category">Tez Danışmanı tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Tez Danışmanı:</b> {{ surec.tez_danisman.user.fullnamewithtitle }}</h6>
                                <h6><b>Açıklama:</b> {{ surec.tez_danisman_red_grk|default:"---" }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:2 }}</h6>

                                {% if surec.tez_danisman_onay %}
                                <div class="card-header-success" style="width:150px; height:50px; margin:12px auto; padding:11px 12px;">
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                        <li class="text-center"><span class="fas fa-2x fa-check f-vc"></span></li>
                                        <li class="text-center"><h4 class="font-weight-bold">Onaylandı</h4></li>
                                    </ul>
                                </div>
                                {% else %}
                                <div class="card-header-danger" style="width:180; height:50px; margin:12px auto; padding:11px 12px;">
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                        <li class="text-center"><span class="fas fa-2x fa-times f-vc"></span></li>
                                        <li class="text-center"><h4 class="font-weight-bold">ONAYLANMADI</h4></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 3 %}
                    <div id="asamano3" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Anabilim Dalı Başkanı - Aşama 3</h4>
                                <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s3.fullnamewithtitle }}</h6>
                                <h6><b>ADAK Karar No:</b> {{ surec.adak_karar_no }}</h6>
                                <h6><b>ADAK Karar Tarihi:</b> {{ surec.adak_karar_tar }}</h6>
                                {% if surec.ex_uni %}
                                    <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.yeni_dns }}</h6>
                                {% else %}
                                    {% if surec.aday_2danisman %}
                                        <h6><b>Önerilen İkinci Tez Danışman:</b> {{ surec.aday_2danisman }}</h6>
                                    {% endif %}
                                {% endif %}
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:3 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if surec.asamaid.asamano > 4 %}
                    <div id="asamano4" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Önerilen Danışman Atama Formu - Aşama 4</h4>
                                <p class="card-category">Danışman tarafından doldurulmuş danışman tercih formu</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <!-- Danışman tarafından doldurulmuş Danışman Atama Formu -->
                                {% include "post/Danisman2Atama/doldurulmus_form_dns.html" %}
                                <!-- End Danışman tarafından doldurulmuş Danışman Atama Formu -->

                                <a class="btn btn-danger pull-right" href="{% url 'post:danisman_2atama_print_dnsform' surecid=surec.id pdf=0 %}" target="_blank">
                                    <span class="fas fa-2x fa-print f-vc"></span>Yazdır</a>
                                <a class="btn btn-danger pull-right" href="{% url 'post:danisman_2atama_print_dnsform' surecid=surec.id pdf=1 %}" target="_blank">
                                    <span class="fas fa-2x fa-print f-vc"></span>PDF İndir</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 5 %}
                    <div id="asamano5" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Anabilim Dalı Başkanı - Aşama 5</h4>
                                <p class="card-category">Anabilim Dalı Başkanı tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s5.fullnamewithtitle }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:5 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if surec.asamaid.asamano > 6 %}
                    <div id="asamano6" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Enstitü Sekreteri - Aşama 6</h4>
                                <p class="card-category">Enstitü Sekreteri tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Enstitü Sekreteri:</b> {{ surec.yonetici.user.fullnamewithtitle }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:6 }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if surec.asamaid.asamano > 7 %}
                    <div id="asamano7" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Öğrenci İşleri - Aşama 7</h4>
                                <p class="card-category">Öğrenci İşleri tarafından doldurulmuş bilgiler</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Öğrenci İşleri:</b> {{ surec.ogr_is_user.user.fullnamewithtitle }}</h6>
                                <h6><b>Yönetim Kurulu Karar No:</b> {{ surec.ynt_karar_no }}</h6>
                                <h6><b>Yönetim Kurulu Karar Tarihi:</b> {{ surec.ynt_karar_tar }}</h6>
                                <h6><b>Onay Durumu:</b> {{ surec.get_onaydurum_display }}</h6>
                                <h6><b>Onay Açıklama:</b> {{ surec.onayaciklama|default:"---" }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:7 }}</h6>
                                <br>
                                <h6><b>İkinci Tez Danışmanı Atanacak Öğrenci:</b> {{ surec.ogrenci.getfullname }}</h6>
                                {% if surec.aday_2danisman %}
                                    <h6><b>Atanan İkinci Tez Danışman:</b> {{ surec.aday_2danisman }}</h6>
                                {% endif %}
                                {% if surec.ex_uni %}
                                    <h6><b>Atanan İkinci Tez Danışman:</b> {{ surec.yeni_dns }}</h6>
                                {% endif %}
                                <h6><b>İkinci Tez Danışman Atanma Tarihi:</b> {{ surec.ynt_karar_tar }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if surec.asamaid.asamano == 8 %}
                    <div id="asamano8" class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Atama Bilgileri</h4>
                                <p class="card-category">Enstitü tarafından atanan ikinci tez danışman atanma bilgileri</p>
                            </div>
                            <div class="card-body" style="margin-top:18px;">
                                <h6><b>Öğrenci İşleri:</b> {{ surec.ogr_is_user.user.fullnamewithtitle }}</h6>
                                <h6><b>Onay Durumu:</b> {{ surec.get_onaydurum_display }}</h6>
                                <h6><b>Onay Açıklama:</b> {{ surec.onayaciklama|default:"---" }}</h6>
                                <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:7 }}</h6>
                                <br>
                                <h6><b>İkinci Tez Danışmanı Atanacak Öğrenci:</b> {{ surec.ogrenci.getfullname }}</h6>
                                {% if surec.aday_2danisman %}
                                    <h6><b>Atanan İkinci Tez Danışman:</b> {{ surec.aday_2danisman }}</h6>
                                {% endif %}
                                {% if surec.ex_uni %}
                                    <h6><b>Atanan İkinci Tez Danışman:</b> {{ surec.yeni_dns }}</h6>
                                {% endif %}
                                <h6><b>İkinci Tez Danışman Atanma Tarihi:</b> {{ surec.ynt_karar_tar }}</h6>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>
var msa = document.getElementById("multi-step-area");
var cba = document.getElementById("card-body-area");

var data = {{ asamalar }};

var poscurTag;

window.onload = function(e){
    setAsamaDurum();
};

function ToPng() {
        jumpto('toppage');
}

function setAsamaDurum(){
    for(i=0;i<data.length;i++){

        if (data[i].asamano < {{ surec.asamaid.asamano }}){
            var liTag = document.createElement("li");
            liTag.className = 'multi-step-item';
        } else {
            if (data[i].asamano == {{ surec.asamaid.asamano }}) {
                var liTag = document.createElement("li");
                liTag.className = 'multi-step-item current';
            } else {
                if (data[i].asamano > {{ surec.asamaid.asamano }}) {
                    var liTag = document.createElement("li");
                    liTag.className = 'multi-step-item';
                }
            }
        }

        divTag = document.createElement("div");
        divTag.className = 'item-wrap';
        divTag.style.display = 'flex';

        pTag = document.createElement("p");
        pTag.className = 'item-title align-items-center text-center';
        pTag.style.display = "flex";
        pTag.textContent = data[i].adi

        divTag.appendChild(pTag);
        liTag.appendChild(divTag);
        msa.appendChild(liTag);

        if (data[i].asamano == {{ surec.asamaid.asamano }}) {
            poscurTag = liTag;
        }
    }
    //(poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20)/2 - (cba.offsetWidth-20)/2 + poscurTag.offsetWidth/2;
    cba.scrollLeft = (poscurTag.offsetLeft + cba.offsetWidth/2) - (cba.offsetWidth-20) + poscurTag.offsetWidth/2;
}
</script>

{% endblock %}
