{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />

<div class="content">
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Öğrenci Danışman Tercih Formu - Aşama 1</h4>
                        <p class="card-category">Öğrenci tarafından doldurulmuş ikinci tez danışman tercih formu</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <!-- Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                        {% include "post/Danisman2Atama/doldurulmus_form_ogr.html" %}
                        <!-- End Doldurulmuş Öğrenci 2.Danışman Atama Tercih Formu -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Tez Danışmanı - Aşama 2</h4>
                        <p class="card-category">Tez Danışmanı tarafından doldurulmuş bilgiler</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <h6><b>Tez Danışmanı:</b> {{ surec.tez_danisman.user.fullnamewithtitle }}</h6>
                        <h6><b>Açıklama:</b> {{ surec.tez_danisman_red_grk|default:"---" }}</h6>
                        <h6><b>Aşama Onay Tarihi:</b> {{ surec|get_danisman2atama_asama_tar:2 }}</h6>

                        {% if surec.tez_danisman_onay %}
                        <div class="card-header-success" style="width:150px; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-check f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">Onaylandı</h4></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="card-header-danger" style="width:180; height:50px; margin:12px auto; padding:11px 12px;">
                            <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li class="text-center"><span class="fas fa-2x fa-times f-vc"></span></li>
                                <li class="text-center"><h4 class="font-weight-bold">ONAYLANMADI</h4></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="asamano3" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Ana Bilim Dalı Başkanı - Aşama 3</h4>
                        <p class="card-category">Lütfen Gerekli Bilgilerinizi Giriniz ve Onaylayınız</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="margin-bottom:32px;">
                                <h6><b>Anabilim Dalı Başkanı:</b> {{ surec.abd_bsk_user_s3.fullnamewithtitle }}</h6>
                            </div>
                            <div style="z-index:1000;">
                            {{ form.adak_karar_no|as_crispy_field }}
                            {{ form.adak_karar_tar|as_crispy_field }}
                            </div>

                            {% if not surec.ex_uni %}
                                <div style="z-index:-1;">
                                    {{ form.aday_2danisman|as_crispy_field }}
                                </div>
                            {% else %}
                                <p class="font-weight-bold" style="color:red;">İkinci Tez Danışmanı olarak tercih edilen Önerilen Danışman Üniversite Dışından atama olarak işaretlenmiştir.
                                    Önerilen ikinci danışman ataması, Öğrencinin Tez Danışmanı bilgisi dahilinde ve ADAK Kararınıza göre yapılacaktır.
                                    Üniversite dışından atanacak ikinci tez danışmanı Danışman Atama Formu, öğrenicinin Tez Danışmanı {{ surec.tez_danisman }} tarafından dolduracaktır.
                                    Bilgilerin yanlış girildiğini düşünüyorsanız lütfen süreci Tez Danışmanı aşamasına geri gönderebilirsiniz.
                                </p>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Yeni Danışman Ekleme</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="mailadres" aria-describedby="emailHelp" placeholder="kullanıcıadi@ibu.edu.tr">
                                                <small id="emailHelp" class="form-text text-muted">Kurumsal AİBU Mail adresi giriniz</small>
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select my-1 mr-sm-2" id="formControlSelect1">
                                                    <option selected>Ünvan Seçiniz...</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="formInputAd" placeholder="Ad Giriniz">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="formInputSoyad" placeholder="Soyad Giriniz">
                                            </div>

                                            <div style="margin-top:12px;">
                                                <p style="text-indent:24px; text-align:justify;">Lütfen Danışman bilgilerini eksiksiz giriniz. Mail adresiniz kurumsal mail adresi olmak zorundadır.
                                                    <b>Aksi taktirde başvuru Lisansüstü Eğitim Enstitüsünden geri dönecektir.</b></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="text-align:center; justify-content:center;">
                                            <div class="col-md-6 text-left">
                                                <button type="button" class="btn btn-danger" onclick="javascript:UserEkle();"><span class='fas fa-2x fa-user-plus f-vc'></span>Ekle</button>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class='fas fa-2x fa-door-closed f-vc'></span>Kapat</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- END Modal -->

                            <div id="div_id_abd_bsk_onay_s3" class="checkbox" style="margin-top:24px;z-index:-1;">
                                <label for="id_abd_bsk_onay_s3" class="toggle">
                                    <input type="checkbox" name="abd_bsk_onay_s3" class="toggle__input checkboxinput" id="id_abd_bsk_onay_s3" onclick='OnayCheckClick(this);'>
                                    <span class="checkbox-decorator toggle__label"><span class="check toggle__text">Anabilim Dalı Başkanı olarak onaylıyorum</span></span>
                                </label>
                            </div>

                            <div style="margin-top:24px;">
                                <a class="btn btn-danger pull-right" style="color:#fff;" href="{{ surec.get_surec_geri_url }}">Geri Gönder</a>
                                <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/Danisman2Atama/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
    </div>
</div>


<script>
var abd_bsk_onay_s3 = document.getElementById("id_abd_bsk_onay_s3");
var savebutton = document.getElementById("savebutton");
var unvanSelect = document.getElementById("formControlSelect1");
var mailadres = document.getElementById("mailadres");
var formInputAd = document.getElementById("formInputAd");
var formInputSoyad = document.getElementById("formInputSoyad");

function SubmitFunction(){
    savebutton.disabled = true;
}

var data = {{ unvanlist }};

window.onload = function(e){
     initUnvanField();
     OnayCheckClick(abd_bsk_onay_s3);
     setTimeout(function(){ jumpto('asamano3'); }, 500);
};

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}

function ModalAc(){
    $("#myModal").modal()
    $("#id_aday_danisman").select2("close")
}

function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}

function initUnvanField(){
    removeOptions(unvanSelect);

    for(i=0;i<data.length;i++){
        var option = document.createElement("option");
        option.text = data[i].adi;
        option.value = data[i].id;
        unvanSelect.add(option);
    }
}
</script>

<script src="{% static 'assetsop/js/reconnecting-websocket.js' %}"></script>
<script>
    var Socket = new ReconnectingWebSocket('ws://' + window.location.host + '/ws/post/process/');

    Socket.onopen = function(e) {
        console.error('Soket Açılmıştır.');
    }

    Socket.onclose = function(e) {
        console.error('Soket Kapatılmıştır');
    };

    function UserEkle(){
    //    alert(mailadres.value);
    //    alert(unvanSelect.value);
    //    alert(formInputAd.value);
    //    alert(formInputSoyad.value);

		Socket.send(JSON.stringify({'command': 'user_add', 'username':mailadres.value, 'unvan_id':unvanSelect.value, 'ad':formInputAd.value,'soyad':formInputSoyad.value }));
    }

    Socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'user_add_respond') {
            cevap = data['cevap'];
		//	alert(cevap);
		//	alert(data['dns_user_id']);
		//	alert(data['dns_fullname']);
		    if (cevap == 0) {
		        // Create a DOM Option and pre-select by default
                var newOption = new Option(data['dns_fullname'], data['dns_user_id'], true, true);
                // Append it to the select
                $('#id_aday_danisman').append(newOption).trigger('change');
                $('#myModal').modal('hide');
		    } else {
		        if (cevap == 1) {
                    if ($('#id_aday_danisman').find("option[value='" + data['dns_user_id'] + "']").length) {
                        $('#id_aday_danisman').val(data['dns_user_id']).trigger('change');
                        $('#myModal').modal('hide');
                    }
		        } else {
		            if (cevap == 3) {
		                alert('Var olan kullanıcı bilgileri güncellendi. Lütfen listeyi güncellemek için sayfası yenileyiniz.');
		                $('#myModal').modal('hide');
		            } else {
                        if (cevap == 9) {
                            alert('Lütfen Kullanıcı Bilgilerini Kontrol Ediniz.');
                        } else {
                            if (cevap == 8) {
                                alert('Lütfen geçerli @ibu.edu.tr uzantılı Kurumsal Mail adresi giriniz.');
                            }
                        }
		            }
		        }
		    }
        }
    }
</script>

{% endblock %}