{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .rectangle{
        width:28px;
        height:28px;
        background:black;
        margin:4px;
    }

    .rectangle_empty{
        width:28px;
        height:28px;
        border: 3px solid #000;
        margin:4px;
    }

    select{
     //   font-size:1vw !important;
    }
</style>

<link href="{% static 'assetsop/css/style_page_form.css' %}" rel="stylesheet" />
<link href="{% static 'assetsop/css/style_checkbox.css' %}" rel="stylesheet" />

<div class="content">
    <div class="page">
        <div class="row">
            <div id="asamano1" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">İkinci Danışman Tercih Formunu Doldurunuz</h4>
                        <p class="card-category">Lütfen Bilgilerinizi Kontrol edip, danışman tercihlerinizi yapınız.</p>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <form onsubmit="SubmitFunction()" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                <li>
                                    <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
                                        <li style="flex-basis:15%;">
                                            <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:144; width:144; padding:10px; background-color:#fff; margin:auto;">
                                        </li>
                                        <li class="text-center font-weight-bold" style="flex-basis:85%;">
                                            <h4 class="font-weight-bold">T.C.</h4>
                                            <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                                            <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                                            <h4 class="font-weight-bold">{{ surec.programid.AnaBilimDaliAdi|upper }} ANABİLİM DALI BAŞKANLIĞINA</h4>
                                        </li>
                                    </ul>
                                </li>
                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Programı</li>
                                        {% if surec.programid != surec.ogrenci.programid %}
                                            <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">{{ surec.programid }}</li>
                                            <li style="border: 1px solid #000; flex-basis:20%; padding-left:8px;">
                                                <a href="{{ surec.get_surec_program_update }}" class="btn btn-success pull-right" style="padding:4px;">Program Güncelle</a>
                                            </li>
                                        {% else %}
                                            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid }}</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.getfullname }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrencino }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışman Türü</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{% if form.atama_tur.value == 0 %}
                                                            Tez Danışmanı
                                                        {% elif form.atama_tur.value == 1 %}
                                                            İkinci Tez Danışmanı
                                                        {% elif form.atama_tur.value == 2 %}
                                                            Proje Danışmanı
                                                        {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Kayıt Tarihi / Dönemi</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrenicikayittarihi  }} / {{ surec.ogrenci.get_donemi_display }}</li>
                                    </ul>
                                </li>
                                {% if aktif_dns_cnt == 1 %}
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Tez Danışmanı</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ aktif_1_dns.danisman }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Danışman Atanma Tarihi</li>
                                        <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ aktif_1_dns.kayittarihi|date:"d/m/Y" }}</li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if aktif_dns_cnt == 0 %}
                                <li class="font-weight-bold" style="margin:12px 0; font-size:11pt;">
                                    <ul style="padding-left:12px; padding-top:0;">
                                        <li>Kayıtlı Tez Danışmanınız varsa lütfen kayıt tarihi ile birlikte doğru girmeniz önemlidir.</li>
                                        <li>Danışman veya Danışman Atanma Tarihinin yanlış girilmesi durumunda ilgili danışman ile iletişime geçilerek sürecin bir önceki aşamaya döndürülmesi sağlanmalıdır.</li>
                                        <li>Aradığınız Danışmanı bulamıyorsanız lütfen Lisansüstü Eğitim Enstitüsü ile iletişime geçiniz.</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Tez Danışmanı:</li>
                                        <li style="border: 1px solid #000; flex-basis:65%; padding:0 8px;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li style="flex-basis:80%;padding-top:12px;padding-right:4px;">
                                                    {{ form.tez_danisman|as_crispy_field }}
                                                </li>
                                                <li style="flex-basis:20%;">
                                                    <a class="btn btn-danger pull-right text-white" onclick="$('#id_tez_danisman').val(null).trigger('change');">Sil</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Tez Danışmanı Atanma Tarihi:</li>
                                        <li style="border: 1px solid #000; flex-basis:65%; padding:2px 8px;">{{ form.tez_dns_kayit_tarih|as_crispy_field }}</li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li style="margin-top:12px;">
                                    <h5 class="text-center font-weight-bold" style="margin-bottom:0;">İKİNCİ DANIŞMAN OLARAK TERCİH EDİLEN DANIŞMAN BİLGİLERİ</h5>
                                </li>
                                <li>
                                    <ul style="padding-left:0; padding-top:12px; list-style-type:none;display:flex;flex-direction:column;">
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Ünvanı, Adı Soyad</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">Anabilim Dalı</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Bilim Dalı (Enstitüde varsa)</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.yeni_dns|as_crispy_field }}</li>
                                                <li id="li_yeni_dns_abd" class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.yeni_dns_abd|as_crispy_field }}</li>
                                                <li id="li_ex_yeni_dns_abd" class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%;">{{ form.ex_yeni_dns_abd|as_crispy_field }}</li>
                                                <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%;">{{ form.yeni_dns_bd|as_crispy_field }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:35%; padding-left:8px;">İkinci Tez Danışmanı Olarak Atanacak Önerilen Danışman Üniversite Dışından Atama mı?</li>
                                        <li style="border: 1px solid #000; flex-basis:65%; padding-left:8px;">
                                            <div id="div_id_ex_uni" class="checkbox" style="margin-top:8px;">
                                                <label for="id_ex_uni" class="toggle">
                                                    <input type="checkbox" name="ex_uni" class="toggle__input checkboxinput" id="id_ex_uni" onclick='ExUniClick(this);' {% if form.ex_uni.value %}checked{% endif %}>
                                                    <span class="checkbox-decorator toggle__label"><span class="check toggle__text"></span>Evet</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold text-center" style="margin-top:12px;font-size:11pt;">
                                    Yukarıda belirtilen tercihimin dikkate alınarak ikinci tez danışmanımın atanmasını arz ederim.
                                </li>

                                <li style="margin-top:24px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                        <li style="flex-basis:50%;">

                                        </li>
                                        <li style="flex-basis:50%;">
                                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">
                                                    <div id="div_id_ogr_onay" class="checkbox" style="margin-top:12px;">
                                                        <label for="id_ogr_onay" class="toggle">
                                                            <input type="checkbox" name="ogr_onay" class="toggle__input checkboxinput" id="id_ogr_onay" onclick='OnayCheckClick(this);'>
                                                            <span class="checkbox-decorator toggle__label"><span class="check toggle__text"></span></span>
                                                        </label>
                                                    </div>
                                                    <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                         background-color: transparent;">
                                                </li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ surec.ogrenci.getfullname }}</li>
                                                <li class="font-weight-bold text-center" style="flex-basis:50%;">{{ 0|getdate }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="font-weight-bold" style="margin-top:12px;font-size:11pt;">
                                    Formu kaydetmeden önce lütfen kayıtlı olduğunuz Program, Öğrenci Kayıt Tarih ve Dönem bilgilerinizi son kez kontrol ediniz. Yanlışlık olduğunu düşünüyorsanız <a href="{% url 'post:ogrenciguncelle' %}">Öğrenci Güncelleme </a> sayfasından bilgilerinizi güncelleyebilirsiniz.
                                    Güncelleme sonrası Program bilgileri satırından Program Güncelle butonuna tıklayarak gerekli güncellemeyi yapınız.
                                </li>

                                <li style="margin-top:24px;">
                                    <button id="savebutton" type="submit" class="btn btn-dark pull-right" disabled>Sonraki Aşama için Kaydet</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Geri Mesaj -->
			{% include "post/Danisman2Atama/GeriMesaj.html" %}
			<!-- End Geri Mesaj -->
        </div>
   </div>
</div>

<script src="{% static 'assetsop/js/core/jquery.min.js' %}"></script>


<script>
var id_ogr_onay = document.getElementById("id_ogr_onay");
var id_ex_uni = document.getElementById("id_ex_uni");
var savebutton = document.getElementById("savebutton");

var data = {{ programlist }};
var yeni_dns_abd = document.getElementById("id_yeni_dns_abd");
var yeni_dns_bd = document.getElementById("id_yeni_dns_bd");
yeni_dns_abd.onchange = AnaBilimOnChange;

function SubmitFunction(){
    savebutton.disabled = true;
}

window.onload = function(e){
//    alert('offf');

    initAnaBilimField();
    document.getElementById("id_yeni_dns").required = true;

    ExUniClick(id_ex_uni);
    OnayCheckClick(id_ogr_onay);
    setTimeout(function(){ jumpto('asamano1'); }, 500);

    {% if aktif_dns_cnt == 0 %}
        document.getElementById("id_tez_danisman").required = true;
        document.getElementById("id_tez_dns_kayit_tarih").required = true;
    {% endif %}

    {% if form.ex_uni.value %}
        document.getElementById("id_yeni_dns_bd").style.display = 'none';
        document.getElementById("li_yeni_dns_abd").style.display = 'none';
        document.getElementById("id_yeni_dns_abd").required = false;
        document.getElementById("li_ex_yeni_dns_abd").style.display = 'block';
        document.getElementById("id_ex_yeni_dns_abd").required = true;
    {% else %}
        document.getElementById("id_yeni_dns_bd").style.display = 'block';
        document.getElementById("li_yeni_dns_abd").style.display = 'block';
        document.getElementById("id_yeni_dns_abd").required = true;
        document.getElementById("li_ex_yeni_dns_abd").style.display = 'none';
        document.getElementById("id_ex_yeni_dns_abd").required = false;
    {% endif %}
}

function ExUniClick(cb) {
    if (cb.checked == true) {
        document.getElementById("id_yeni_dns_bd").style.display = 'none';
        document.getElementById("li_yeni_dns_abd").style.display = 'none';
        document.getElementById("id_yeni_dns_abd").required = false;
        document.getElementById("li_ex_yeni_dns_abd").style.display = 'block';
        document.getElementById("id_ex_yeni_dns_abd").required = true;
    } else {
        document.getElementById("id_yeni_dns_bd").style.display = 'block';
        document.getElementById("li_yeni_dns_abd").style.display = 'block';
        document.getElementById("id_yeni_dns_abd").required = true;
        document.getElementById("li_ex_yeni_dns_abd").style.display = 'none';
        document.getElementById("id_ex_yeni_dns_abd").required = false;
    }
}

function OnayCheckClick(cb) {
    if (cb.checked == true) {
        savebutton.disabled = false;
        savebutton.className = 'btn btn-warning pull-right';
    } else {
        savebutton.disabled = true;
        savebutton.className = 'btn btn-dark pull-right';
    }
}


function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}

function initAnaBilimField(){
    SetBilimDali(yeni_dns_abd);
    OptionSec(yeni_dns_bd,'{{ form.yeni_dns_bd.value }}');
    shrinkToFill(yeni_dns_abd, 14);
    shrinkToFill(yeni_dns_bd, 14);
}

function AnaBilimOnChange(){
    SetBilimDali(this);
}

function OptionEkle(element,opt){
    var L = element.options.length - 1;
    var varmi = 0;
    for(j = L; j >= 0; j--) {
        if (opt.value == element.options[j].value) {
            varmi = 1;
            break;
        }
    }
    if (varmi == 0){
        element.add(opt);
    }
}

function OptionSec(element,value){
    var L = element.options.length - 1;
    var varmi = 0;
    for(j = L; j >= 0; j--) {
        if (value == element.options[j].value) {
            element.options[j].selected = true;
            break;
        }
    }
}

function SetBilimDali(e){

    ana_key = e.value;

    var option = document.createElement("option");
        option.text = 'Lütfen Seçiniz';
        option.value = '';

    if (e.name == 'yeni_dns_abd'){
        removeOptions(yeni_dns_bd);
        yeni_dns_bd.add(option);
    }

    for(i=0;i<data.length;i++){

        if (data[i].abdid == ana_key) {
            if (data[i].ayni == 1){
                var option = document.createElement("option");
                option.text = data[i].prgadi;
                option.value = data[i].prgadi;

                if (e.name == 'yeni_dns_abd'){
                    OptionEkle(yeni_dns_bd,option);
                }
            }
        }
    }

    var option = document.createElement("option");
        option.text = '---------';
        option.value = '';

    if (e.name == 'yeni_dns_abd'){
        if (yeni_dns_bd.options.length==1){
            removeOptions(yeni_dns_bd);
            yeni_dns_bd.add(option);
        }
    }
}
</script>

<script>

function measureText(txt, font) {
    var id = 'text-width-tester',
        $tag = $('#' + id);
    if (!$tag.length) {
        $tag = $('<span id="' + id + '" style="display:none;font:' + font + ';">' + txt + '</span>');
        $('body').append($tag);
    } else {
        $tag.css({font:font}).html(txt);
    }
    return {
        width: $tag.width(),
        height: $tag.height()
    }
}

function shrinkToFill(input, fontSize,) {

    txt = input.options[input.selectedIndex].text;
    maxWidth = input.offsetWidth; // add some padding
    font = fontSize + "px ";

    var textWidth = measureText(txt, font).width;
    if (textWidth > maxWidth) {
        // if it's too big, calculate a new font size
        // the extra .9 here makes up for some over-measures
        fontSize = fontSize * maxWidth / textWidth;
        font = fontSize + "px ";
        // and set the style on the input
        input.style.fontSize = fontSize;
    } else {
        // in case the font size has been set small and
        // the text was then deleted
        input.style.fontSize = fontSize;
    }
}

    $('select').on('change', function() {
      shrinkToFill(this, 14);
    });
</script>

{% endblock %}
