{% load static %}
{% load tag_functions %}

<ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
    <li>
        <ul style="list-style-type:none; display:flex;flex-direction:row; margin-top:4px; margin-bottom:4px;">
            <li style="flex-basis:15%;">
                <img src="{% static 'assets/img/baibulogo.jpg' %}" style="border-radius:50%; height:160; width:160; padding:10px; background-color:#fff; margin:auto;">
            </li>
            <li class="text-center font-weight-bold" style="flex-basis:85%;">
                <h4 class="font-weight-bold">T.C.</h4>
                <h4 class="font-weight-bold">BOLU ABANT İZZET BAYSAL ÜNİVERSİTESİ</h4>
                <h4 class="font-weight-bold">LİSANSÜSTÜ EĞİTİM ENSTİTÜSÜ MÜDÜRLÜĞÜ</h4>
                {% if surec.programid.prgturu == 1 %}
                    <h4 class="font-weight-bold">YÜKSEK LİSANS TEZ DANIŞMANI ATAMA FORMU</h4>
                {% endif %}
                {% if surec.programid.prgturu == 2 %}
                    <h4 class="font-weight-bold">DOKTARA TEZ DANIŞMANI ATAMA FORMU</h4>
                {% endif %}
            </li>
        </ul>
    </li>
    <li style="margin-top:24px;">
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Ana Bilim Dalı/Programı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid.AnaBilimDaliVeProgram }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Program Türü</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.programid.ProgramTuruAdi }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Adı ve Soyadı</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.getfullname }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">Öğrencinin Numarası</li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.ogrenci.ogrencino }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="border: 1px solid #000; flex-basis:30%; padding-left:8px;">İkinci Tez Danışmanı</li>
            {% if surec.ex_uni %}
                <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.yeni_dns }}</li>
            {% else %}
                <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.aday_2danisman }}</li>
            {% endif %}
        </ul>
    </li>
    <li style="margin-top:12px;border: 1px solid #000;">
        <h5 class="text-center font-weight-bold" style="font-weight: bold;margin-bottom:0;">ATANMASI ÖNERİLEN TEZ DANIŞMANI BİLGİLERİ</h5>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">Danışman Türü</p></div>
            </li>
            <li style="border: 1px solid #000; flex-basis:70%;">
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                    <li class="justify-content-center align-items-center" style="flex-basis:33%; display:flex;">
                        <div class="{% if surec.atama_tur == 0 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                        <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px; font-size:12px;"><p style="margin-bottom:0px;">Tez Danışmanı</p></div>
                    </li>
                    <li class="justify-content-center align-items-center" style="flex-basis:33%; display:flex;">
                        <div class="{% if surec.atama_tur == 1 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                        <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px; font-size:12px;"><p style="margin-bottom:0px;">İkinci Tez Danışmanı</p></div>
                    </li>
                    <li class="justify-content-center align-items-center" style="flex-basis:34%; display:flex;">
                        <div class="{% if surec.atama_tur == 2 %} rectangle {% else %} rectangle_empty {% endif %}"></div>
                        <div class="justify-content-center align-items-center" style="display: flex; margin-left:8px; font-size:12px;"><p style="margin-bottom:0px;">Proje Danışmanı</p></div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    {% if surec.programid.prgturu == 1 or surec.programid.prgturu == 2 %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;display:block;">
                <div class="justify-content-center align-items-center" style="vertical-align:middle;margin:auto;">

                    {% if surec.programid.prgturu == 1 %} <!-- Tezli -->
                        {% if surec.atama_tur == 0 %}  <!-- 1.Tez Danışmanı -->
                            <h6 style="font-weight: bold;">Tez Danışmanı*</h6>
                        {% endif %}
                        {% if surec.atama_tur == 1 %} <!-- 2.Tez Danışmanı -->
                            <h6 style="font-weight: bold;">İkinci Tez Danışmanı*</h6>
                        {% endif %}
                        <p>Ders verilen son iki dönemive hangi üniversitede verildiği bilgisini yazınız.*</p>
                    {% endif %}

                    {% if surec.programid.prgturu == 2 %} <!-- Doktora -->
                        {% if surec.atama_tur == 0 %}  <!-- 1.Tez Danışmanı -->
                            <h6 style="font-weight: bold;">Tez Danışmanı*</h6>
                        {% endif %}
                        {% if surec.atama_tur == 1 %} <!-- 2.Tez Danışmanı -->
                            <h6 style="font-weight: bold;">İkinci Tez Danışmanı*</h6>
                        {% endif %}
                        <p>Verdi ise lisans için son dört dönemi/yüksek lisans için son iki dönemini ve hangi üniversitede verildiği bilgisini yazınız.</p>
                    {% endif %}
                </div>
            </li>
            <li style=" flex-basis:70%;">
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                    {% if surec.programid.prgturu == 1 %}
                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;margin-top:4px; margin-bottom:4px;">
                                        <li class="text-center" style="">
                                            {{ surec.aday_2dan_form.son1yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son1yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son1donem_display  }}
                                        </li>
                                    </ul>
                                </li>
                                <li class="text-center" style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    {{ surec.aday_2dan_form.son1uni  }}
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;margin-top:4px; margin-bottom:4px;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son2yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son2yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son2donem_display  }}
                                        </li>
                                    </ul>
                                </li>
                                <li class="text-center" style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    {{ surec.aday_2dan_form.son2uni  }}
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if surec.programid.prgturu == 2 %}
                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son1yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son1yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son1donem_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son1uni|default:"Girilmemiş" }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son1lsn_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son2yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son2yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son2donem_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son2uni|default:"Girilmemiş" }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son2lsn_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son3yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son3yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son3donem_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son3uni|default:"Girilmemiş" }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son3lsn_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son4yilbas|default:"Girilmemiş"  }} / {{ surec.aday_2dan_form.son4yilson|default:"Girilmemiş"  }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son4donem_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                                <li style="border: 1px solid #000; flex-basis:50%; padding-left:8px;">
                                    <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.son4uni|default:"Girilmemiş" }}
                                        </li>
                                        <li class="text-center">
                                            {{ surec.aday_2dan_form.get_son4lsn_display|default:"Girilmemiş" }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if surec.programid.prgturu == 2 %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">En son yönetilen tezin bitirme tarihi ve hangi üniversitede yönetildiği bilgisini yazınız.</p></div>
            </li>
            <li style="flex-basis:70%;">

                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                    <li style="border: 1px solid #000;padding-left:8px;">
                        {{ surec.aday_2dan_form.tezbittar|default:"Girilmemiş" }}
                    </li>
                    <li style="border: 1px solid #000;padding-left:8px; line-height:52px;">
                        {{ surec.aday_2dan_form.tezbituni|default:"Girilmemiş" }}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if surec.atama_tur == 1 %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">İkinci Danışman atanma gerekçesini yazınız</p></div>
            </li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.aday_2dan_form.ikinci_dns_atama_grk  }}</li>
        </ul>
    </li>
    {% endif %}
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li class="font-weight-bold" style="display:flex; border: 1px solid #000; flex-basis:30%; padding-left:8px;">
                <div class="justify-content-center align-items-center" style="display:flex;"><p style="margin-bottom:0px;">Uzmanlık alanını bilgisi yazınız</p></div>
            </li>
            <li style="border: 1px solid #000; flex-basis:70%; padding-left:8px;">{{ surec.aday_2dan_form.uzmanlik }}</li>
        </ul>
    </li>
    <li>
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li style="border: 1px solid #000; flex-basis:30%; padding-left:8px;display:block;">
                <div style="vertical-align:middle;margin:auto;">
                    <p>Öğretim Üyesinin Tez Danışmanlık Yaptığı Öğrenci Sayısı**</p>
                </div>
            </li>
            <li style="flex-basis:70%;">
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                    <li style="flex-basis:33%;"> <!-- Yüksek Lisans -->
                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                            <li style="border: 1px solid #000;">
                                <h5 class="text-center" style="margin-bottom:0;"><small>Yüksek Lisans</small></h5>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Devam Eden</small></h5>
                                    </li>
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                    </li>
                                </ul>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.YLDE }}
                                    </li>
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.YLAO }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li style="flex-basis:33%;"> <!-- Doktora -->
                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                            <li style="border: 1px solid #000;">
                                <h5 class="text-center" style="margin-bottom:0;"><small>Doktora</small></h5>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Devam Eden</small></h5>
                                    </li>
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                    </li>
                                </ul>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.DRDE }}
                                    </li>
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.DRAO }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li style="flex-basis:34%;"> <!-- ikinci Danışmanlık -->
                        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                            <li style="border: 1px solid #000;">
                                <h5 class="text-center" style="margin-bottom:0;"><small>İkinci Danışmanlık</small></h5>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Devam Eden</small></h5>
                                    </li>
                                    <li style="border: 1px solid #000;flex-basis:50%;">
                                        <h5 class="text-center"><small>Yeni Atanması Önerilen</small></h5>
                                    </li>
                                </ul>
                            </li>
                            <li style="">
                                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.YL2DE }}
                                    </li>
                                    <li class="text-center" style="border: 1px solid #000;flex-basis:50%;">
                                        {{ surec.aday_2dan_form.YL2AO }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    {% if surec.programid.prgturu == 1 %}
    <li style="text-align:justify;margin-top:12px;font-size:11pt;margin-left:24px;margin-right:24px;">
        *Bir öğretim üyesinin danışman olarak atanabilmesi için en az iki yarıyıl bir lisans programında ders vermiş olması <b>gerekmektedir.</b>
    </li>
    {% endif %}

    {% if surec.programid.prgturu == 2 %}
    <li style="text-align:justify;margin-top:12px;font-size:11pt;margin-left:24px;margin-right:24px;">
        *Bir öğretim üyesinin danışman olarak atanabilmesi için <b>en az dört yarıyıl bir lisans</b> veya <b>en az
        iki yarıyıl yüksek lisans</b> programında ders vermiş olması ve başarı ile tamamlanmış en az bir yüksek lisans tezi yönetmiş olması gerekmektedir.
    </li>
    {% endif %}

    <li style="text-align:justify;font-size:11pt;margin-left:24px;margin-right:24px;">
        **Tezli YL ve Dr için öğretim üyesi başına düşen tez danışmanlığı en fazla 14’dir (İki adet ikinci danışmanlık bir danışmanlık sayılır).
    </li>

    <li class="font-weight-bold" style="margin-left:24px;margin-top:12px;font-size:11pt;">
        Danışman olarak yukarıdaki formu eksiksiz doldurduğumu onaylıyorum.
    </li>
    <li style="margin-top:24px;">
        <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:row;">
            <li style="flex-basis:50%;">

            </li>
            <li style="flex-basis:50%;">
                <ul style="padding-left:0; padding-top:0; list-style-type:none;display:flex;flex-direction:column;">
                    <li class="font-weight-bold text-center">
                        <img src="{% static 'assetsop/img/onayliyorum.png' %}" style="height:55; width:165; margin-left:0px; margin-top:0px;
                                                                                                           background-color: transparent;">
                    </li>
                    {% if surec.ex_uni %}
                        <li class="font-weight-bold text-center" >{{ surec.tez_danisman }}</li>
                    {% else %}
                        <li class="font-weight-bold text-center" >{{ surec.aday_2danisman }}</li>
                    {% endif %}
                    <li class="font-weight-bold text-center" >{{ surec|get_danisman2atama_asama_tar:4|date:"d/m/Y" }}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>