{% load tag_functions %}

{% if surec|get_2hata_var_mi > 0 %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Geri Gönderim Hata Bilgileri</h4>
                <p class="card-category">Lütfen Bilgilerinizi Kontrol edip bir sonraki aşamaya gönderiniz.</p>
            </div>
            <div class="card-body" style="margin-top:18px;">
                    {% for log in surec.sureclog2.all %}
                        {% if log.yon == -1 and log.hedef_asamaid.asamano == surec.asamaid.asamano %}
                            <h4 class="">{{ log.procuser.fullnamewithtitle  }} <small class="">{{ log.tarih }} | {{ log.tarih|timesince }} önce </small></h4>
                            <div style="margin-left:8px;"><p style="text-indent:10.0pt">{{ log.aciklama }}</p></div>
                            <hr>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
{% endif %}