{% extends 'baseop.html' %}
{% load static %}
{% load tag_functions %}
{% load crispy_forms_tags %}
{% block body %}

<style>
    .boxes > div{
      width: 100px;
      height:100px;
      display:inline-block;
      float:left;
      background-color: red;
      margin-right: 6px;
    }

    .f-vc{
        vertical-align: middle;
        margin-right:12px;
    }

    .isDisabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
      pointer-events: none;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2><b>Ders İçerikleri Yönetimi</b></h2>
            </div>

            <div class="offset-md-3 col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Anabilim Dalı Bilgileri</h4>
                    </div>
                    <div class="card-body text-left">
                        <h6><b>Anabilim Dalı:</b> {{ abd.adi }}</h6>
                        <h6><b>Anabilim Dalı Başkanı:</b> {{ abd.baskan.fullnamewithtitle }}</h6>
                    </div>
                </div>
            </div>

            <div class="offset-md-2 col-md-8 text-center">
                <div class="row" style="display:block;margin:auto;">
                    <a href="{% url 'post:dersicerik_ekle' %}" class="btn btn-success btn.btn-fab" style="width:250px;" >
                        <span class="fas fa-2x fa-plus-circle f-vc"></span>Ders İçerik Ekle</a>
                <!--    <a href="{% static 'assetsop/doc/enstitü_icerik_ornek.docx' %}" class="btn btn-primary btn.btn-fab" style="width:250px;" >
                        <span class="fas fa-2x fa-file-alt f-vc"></span>Ders İçerik Şablonu</a>
                -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Ders İçerik Listesi</h4>
                    </div>
                    <div class="card-body" style="margin-top:18px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <tr>
                                    <th>Program Adı</th>
                                    <th>Ders İçeriği</th>
                                    <th>İşlemi Yapan</th>
                                    <th>Son İşlem Tarihi</th>
                                    <th>İşlem</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prg in programlar %}
                                    <tr>
                                        <td>
                                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                <li class="font-weight-bold" style="margin-bottom:4px;">{{ prg.programid.adi }}</li>
                                                <li style="margin-bottom:4px;">{{ prg.programid.get_prgturu_display }}</li>
                                                <li>{{ prg.programid.get_ogrtur_display }}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <a href="{{ prg.get_download_url }}" target="_blank">
                                            <img class="f-vc" src="{% static 'assetsop/img/file-download.png' %}"
                                                 style="border-radius:10%; height:48px; width:48px; padding:2px; background-color:#fff; margin:auto;"><span style="margin-left:8px;">İndir</span>
                                            </a>
                                        </td>
                                        <td>{{ prg.procuser.fullnamewithtitle }}</td>
                                        <td>{{ prg.tarih }}</td>
                                        <td>
                                            <ul style="list-style-type:none; display:flex;flex-direction:column; margin-top:4px; margin-bottom:4px;padding-left:0;">
                                                <li class="font-weight-bold" style="margin-bottom:4px;">
                                                    <a href="{{ prg.get_update_url }}" class="btn btn-warning btn.btn-fab" style="width:150px;" >
                                                    <span class="fas fa-2x fa-pen-square f-vc"></span>Güncelle</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>


</script>

{% endblock %}
