{% load static %}

<html lang="tr">

	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Karabük Üniversitesi">
		<meta property="og:title" content="Lisansüstü Eğitim" />

		<meta property="og:description" content="Karabük Üniversitesi Lisansüstü Eğitim Enstitüsü">
		<meta property="og:image" content="{% static 'assets/img/logokarabuk.png' %}">
		<meta property="og:type" content="article" />
		<link rel='icon' href="{% static 'assets/img/favicon.png' %}" type='image/x-icon' />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- SITE TITLE -->
		<title>Lisansüstü Enstitüsü</title>

		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

		<!-- Font Awesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free/css/all.css' %}">

		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

		<link href="{% static 'assets/css/style_nav.css' %}" rel="stylesheet">

		{% block head %}

		{% endblock %}

	</head>
	
    <body data-spy="scroll" data-offset="0">

		<!-- START PRELOADER -->
		<div class="preloader">
			<div class="status">
				<div class="status-mes">

				</div>
				<div class="status-mes2 text-center">
					<h5>Karabük Üniversitesi</h5>
					<h5>Bilgisayar Mühendisliği</h5>
					<h5>Lisansüstü Eğitimi</h5>
				</div>
				<img class="status-mes3" src="{% static 'assets/img/logokarabuk.png' %}">
			</div>
		</div>
		<!-- END PRELOADER -->

		<!-- Latest 3 series jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


		{% block body %}

		{% endblock %}


			<script>
				$(function () {
					$(window).on('scroll', function () {
						if ( $(window).scrollTop() > 10 ) {
							$('.navbar').addClass('active');
						} else {
							$('.navbar').removeClass('active');
						}
					});
				});

				/*PRELOADER JS*/
				$(window).on('load', function() {
					$('.status').fadeOut();
					$('.preloader').delay(350).fadeOut('slow');
				});
				/*END PRELOADER JS*/
			</script>


		<!-- My Scripts -->
			<script src="{% static 'assets/js/scripts.js' %}"></script>
    </body>
</html>